{% extends 'base.html.twig' %}

{% block content %}
{{ form_start(form) }}
<div class="admin-container">
    <div class="col-md-6">
        {{ form_row(form.title) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.introText) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.content) }}
    </div>
    <div class="col-md-12">
        {{fn_submit_button()}}
    </div>
</div>
{{ form_end(form) }}
{% endblock %}