{% extends 'base.html.twig' %}

{% block action %}
    {{ fn_breadcrumb_button('',path('app_news_create'), 'New News', {'icon':'icon-add position-left', 'data-url':path('app_news_create'), 'class': 'entityModal', 'data-title': 'Patient Information' }) }}
{% endblock %}

{% block content %}

    <div class="admin-container">
        <table class="table table-striped">
        <thead>
        <tr>
            <td scope="col">S.No</td>
            <td scope="col">Title</td>
            <td scope="col">Headline</td>
            <td scope="col">Edit</td>
        </tr>
        </thead>
        <tbody>
            {% for news in newsList %}
            <tr scope="row">
                <td>{{ loop.index }}</td>
                <td>{{news.title}}</td>
                <td>{{news.introText}}</td>
                <td>
                    <a href="{{ url('app_news_update', {'id':news.id}) }}"
                        class="btn btn-success btn-xs btn-raised"
                        title="edit">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

{% endblock %}