{% extends 'reg-base.html.twig' %}

{% block body %}

    <div class="container">
  <div class="imgcontainer">
    <img src="{{asset('assets/images/suzuki.png')}}" alt="Avatar" class="avatar">
  </div>
    {% if error %}
        <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path('login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}

        <button type="submit">login</button>
    </form>
    </div>
{% endblock %}
