@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

body, html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #101010;

}

body {
    background-color: #f2f3fa;
}

a {
    color: #00619e;
    text-decoration: none;
}
a:hover{
    text-decoration: none !important; 
}
/**------icomoon custom fonts---**/
/*@font-face {
  font-family: 'icomoon';
  src:  url('https://i.icomoon.io/public/temp/e5f5e20531/UntitledProject/icomoon.eot?jl7zqu');
  src:  url('https://i.icomoon.io/public/temp/e5f5e20531/UntitledProject/icomoon.eot?jl7zqu#iefix') format('embedded-opentype'),
    url('https://i.icomoon.io/public/temp/e5f5e20531/UntitledProject/icomoon.ttf?jl7zqu') format('truetype'),
    url('https://i.icomoon.io/public/temp/e5f5e20531/UntitledProject/icomoon.woff?jl7zqu') format('woff'),
    url('https://i.icomoon.io/public/temp/e5f5e20531/UntitledProject/icomoon.svg?jl7zqu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}*/
@font-face {
    font-family: 'icomoon';
    src: url('icons/fonts/icomoon.eot?jl7zqu');
    src: url('icons/fonts/icomoon.eot?jl7zqu#iefix') format('embedded-opentype'),
    url('icons/fonts/icomoon.ttf?jl7zqu') format('truetype'),
    url('icons/fonts/icomoon.woff?jl7zqu') format('woff'),
    url('icons/fonts/icomoon.svg?jl7zqu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon-fn_bill:before {
    content: "\f1";
}

.icon-fn_class:before {
    content: "\f2";
}

.icon-fn_dashboard:before {
    content: "\f3";
}

.icon-fn_exam:before {
    content: "\f4";
}

.icon-fn_expenses:before {
    content: "\f5";
}

.icon-fn_money:before {
    content: "\f6";
}

.icon-fn_paper:before {
    content: "\f7";
}

.icon-fn_schedule:before {
    content: "\f8";
}

.icon-fn_stock:before {
    content: "\f9";
}

.icon-fn_student:before {
    content: "\f10";
}

.icon-fn_training:before {
    content: "\f11";
}

.icon-fn_vendor:before {
    content: "\f12";
}

.icon-fn_work:before {
    content: "\f13";
}
@font-face {
    font-family: 'custom-emp-icons';
    src:  url('icons/fonts/emp-fonts/custom-emp-icons.eot?3dtlgx');
    src:  url('icons/fonts/emp-fonts/custom-emp-icons.eot?3dtlgx#iefix') format('embedded-opentype'),
    url('icons/fonts/emp-fonts/custom-emp-icons.ttf?3dtlgx') format('truetype'),
    url('icons/fonts/emp-fonts/custom-emp-icons.woff?3dtlgx') format('woff'),
    url('icons/fonts/emp-fonts/custom-emp-icons.svg?3dtlgx#custom-emp-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="ep-icon-"], [class*=" ep-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'custom-emp-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ep-icon-ep-portfolio:before {
    content: "\e1";
}
.ep-icon-ep-profile:before {
    content: "\e2";
}
.ep-icon-ep-account:before {
    content: "\e3";
}
.ep-icon-ep-detail:before {
    content: "\e4";
}
.ep-icon-ep-document:before {
    content: "\e5";
}
.ep-icon-ep-employment:before {
    content: "\e6";
}
.ep-icon-ep-leave:before {
    content: "\e7";
}
.ep-icon-ep-lecture-rate:before {
    content: "\e8";
}
.ep-icon-ep-payroll:before {
    content: "\e9";
}

@font-face {
    font-family: 'icomoon';
    src:  url('icons/fonts/new-icons/icomoon.eot?vy338r');
    src:  url('icons/fonts/new-icons/icomoon.eot?vy338r#iefix') format('embedded-opentype'),
    url('icons/fonts/new-icons/icomoon.ttf?vy338r') format('truetype'),
    url('icons/fonts/new-icons/icomoon.woff?vy338r') format('woff'),
    url('icons/fonts/new-icons/icomoon.svg?vy338r#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="new-"], [class*=" new-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.new-fixedasset:before {
    content: "\e903";
}
.new-inventory2:before {
    content: "\e901";
}
.new-hotel:before {
    content: "\e902";
}
.new-agent:before {
    content: "\e935";
}
.new-employee:before {
    content: "\e936";
    /*color: #4d4d4d;*/
}
.new-enquiry_2:before {
    content: "\e939";
}
.new-itinerary:before {
    content: "\e9f2";
}
.new-proposal:before {
    content: "\e9f3";
}
.new-proposal_2:before {
    content: "\e9f4";
}
.new-tourfile_2:before {
    content: "\e9fa";
}
.new-tourguide:before {
    content: "\ea16";
}
.new-vendor:before {
    content: "\ea17";
}
.new-destination:before {
    content: "\e900";
}


@font-face {
    font-family: 'fn_dash-icons';
    src:  url('icons/fonts/dash-icons/fn_dash-icons.eot?c89wsx');
    src:  url('icons/fonts/dash-icons/fn_dash-icons.eot?c89wsx#iefix') format('embedded-opentype'),
    url('icons/fonts/dash-icons/fn_dash-icons.ttf?c89wsx') format('truetype'),
    url('icons/fonts/dash-icons/fn_dash-icons.woff?c89wsx') format('woff'),
    url('icons/fonts/dash-icons/fn_dash-icons.svg?c89wsx#fn_dash-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="fn-d-icon-"], [class*=" fn-d-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fn_dash-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fn-d-icon-assignment:before {
    content: "\da1";
}
.fn-d-icon-bill:before {
    content: "\da2";
}
.fn-d-icon-calendar:before {
    content: "\da3";
}
.fn-d-icon-course:before {
    content: "\da4";
}
.fn-d-icon-dashboard:before {
    content: "\da5";
}
.fn-d-icon-employee:before {
    content: "\da6";
}
.fn-d-icon-exam:before {
    content: "\da7";
}
.fn-d-icon-inventory:before {
    content: "\da8";
}
.fn-d-icon-library:before {
    content: "\da9";
}
.fn-d-icon-program-batch:before {
    content: "\da909";
}
.fn-d-icon-report:before {
    content: "\da90a";
}
.fn-d-icon-student:before {
    content: "\da90b";
}
.fn-d-icon-vendor:before {
    content: "\da90c";
}

/*custom fond end-------------<*/


label.required:after,
legend.required:after {
    content: ' *';
    color: #d60000;
}

.content {
    padding: 0 20px 90px 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.daterangepicker select.yearselect {
    width: 50%;
}


.daterangepicker.dropdown-menu{
    z-index: 9999;
}

.navbar-default .navbar-nav > li > a {
    line-height: 1;
    color: #606060;

    font-weight: 500;
}

.fn-top-nav-right li:nth-child(1) > a i {
    /* color: #9c27b0; */
}

.fn-top-nav-right li:nth-child(2) > a i {
    /* color: #F44335; */
}

.fn-top-nav-right li:nth-child(3) > a i {
    /* color: #4caf50; */
}

.fn-top-nav-right li:nth-child(4) > a i {
    /* color: #ff8a00; */
}

.sidebar-content .category-content {
    /*padding: 13px 5px;*/
}

.navbar-default .navbar-nav > li > a {
    color: #1a1a1a;
    font-weight: 500;
}

.navbar-default .navbar-nav .sidebar-main-toggle {
    color: #00619e;
}

.breadcrumb > .active {
    color: #86b902;
}

.breadcrumb > li {
    font-weight: normal;
    font-size:14px;
}

.breadcrumb-line .breadcrumb {
    padding: 0;
}

.input-group-addon {
    color: #fff;
    background-color: #00619e;
    border: none;
}

.sidebar-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    background-color: #F5F5F5;
}

.navigation > li > a {
    color: #e54a9b;
}

a.btn.btn-xs.add-button {
    /* border-radius: 0; */
}

.btn-view {
    background-color: #55b9eb;
    color: #fff;
    /* border-radius: 0; */
}

.add-button {
    /* border-radius: 0; */
    /* border: none; */
}

.btn-edit {
    background-color: #ef6c00;
    color: white;
}

.add-button.btn-default {
    background-color: #84c4bb;
    color: #fff;
}

.btn-delete.delete {
    background-color: #c50000;
    color: #fff;
}

.status-success {
    color: #84c4bb;
}

.status-info {
    color: #8bbfff;
}

.status-pending {
    color: #ffaa10;
}

.status-denied {
    color: #c50000;
}


.page-container {
    padding-left: 0;
    padding-top: 0;
    padding-right: 0px; /*padding-bottom: 47px;*/
}

.content-wrapper {
    padding-top: 20px;
    background-color: #fff;
}

.sidebar-content {
    border-radius: 0;
    margin-top: 0px;
}
.table.custom-table {
    color: #343a40;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}
.table-hover > tbody > tr:hover {
    background-color: #e0f3ff !important;
}
.custom-table .bg-table-head {
    color: #343a40;
    white-space: nowrap;
    /* border-color: #aaa; */
}
.bg-table-head {
    background: #fff;
    color: #343434;
    white-space: nowrap;
    /* background: linear-gradient(#f2f3fa,#edf0f3); */
    /*background: linear-gradient(#ffffff, #edf0f3);*/
}

.bg-table-head tr {
    height: 58px;
}

.table > thead > tr > th {
    border-bottom: 1px solid #ddd;
    font-weight: 600;
}

.bg-table-head .close {
    color: #444 !important;
}

.bg-tab-head {
    background-color: #60c5bb;
}

.nav-tabs[class*=bg-] > .active > a, .nav-tabs[class*=bg-] > .active > a:hover, .nav-tabs[class*=bg-] > .active > a:focus {
    background-color: rgb(38, 166, 154);
}

.sidebar {
    padding-right: 0;
}

.category-content.sidebar-user {
    background: #dcdcdc;
    color: #333;
}

.no-content {
    display: block;
    color: #999;
    font-size: 14px;
    text-align: center;
    padding: 2em;
}

.no-content-message {
    padding: 1em;
    color: #86b902;
}

.no-content a {
    color: #2196f3;
}

.no-content a:hover {
    text-decoration: underline;
}

/** SEARCH PANEL **/
.panel-search {
    border-radius: 2px;
    padding: 15px 10px 0px;
    background: #fff;
    /* box-shadow: 0 0 10px 0 rgba(183, 192, 206, .2); */
    border: 1px solid #f1f1f1;
}

/*.panel-search div[class*="col-"] {
    padding-right: 0;
}
*/
.panel-bulk {
    display: block;
    margin-bottom: 10px;
}

.bulk-check {
    margin-right: 10px !important;
}

/** SEARCH PANEL ENDS **/

/** PERMISSIONS **/
.dn-sub-group-wrap, .dn-main-group-buttons {
    margin: 0;
    padding: 0;
}

.dn-module-title a {
    padding: 10px;
    display: block;
    color: #297d78;
    text-transform: capitalize;
    border-bottom: 1px solid #fff;
    background: #e4e5e6;
}

.dn-module-title.active a, .dn-module-title a:hover, .dn-module-title a:focus {
    border-left: 2px solid #005751;
    text-decoration: none;
    padding-left: 8px;
}

.dn-permission-wrapper input[type="checkbox"] {
    margin-right: 10px;
}

.dn-sub-group-wrap {
    background: #FFF;
}

.dn-group-list {
    padding: 1rem
}

.dn-group-items {
    margin-bottom: 1rem;
    background: #f5f5f5;
}

.dn-group-title {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
}

i.group-check, i.group-uncheck {
    margin-right: 5px;
    font-size: 18px
}

.dn-perm-list {
    padding: 10px;
}

.dn-perm-item {
    font-size:14px;
    text-transform: capitalize;
    color: #666;
}

.module-check, .module-uncheck {
    color: #666 !important;
    cursor: pointer;
}

/** PERMISSIONS END **/


/** ACCOUNT CHARTS **/
.account-chart-list, .account-chart-list ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.account-chart-list li {
    padding-left: 10px;
}

.account-chart-title:before {
    font-family: fontAwesome;
    content: "\f152";
    font-weight: normal;
    margin-right: 5px;
}

.account-chart-list li.open > .account-chart-title:before {
    content: "\f150"
}

.account-chart-list .account-chart-title.noChild:before, .account-chart-list li.open > .account-chart-title.noChild:before {
    content: "\f096"
}

li.ac-top {
    background: #fafafa;
    margin-bottom: 1em;
    padding-top: 0;
    padding-left: 0;
}

.account-chart-list li {
    position: relative;
}

.account-chart-list li span {
    padding: 10px;
    display: block;
}

.account-chart-list li .ac-btn-group {
    position: absolute;
    padding: 10px;
    display: inline-block;
    right: 10px;
    top: -7px;
}

.account-chart-list span:hover {
    background: #ebffb6;
}

li.ac-top > span {
    background: #f1f5fa;
}


.reportWrap li.ac-top {
    background: none;
    margin-bottom: 10px;
}

.reportWrap li.ac-top > div {
    background: none;
    border-bottom: 1px solid #ccc;
}

.reportWrap li div:before {
    content: "" !important;
}

.reportWrap li.ac-top > div:hover {
    background: none
}

.reportWrap div.hasChild:after {
    content: "\f107";
    font-family: FontAwesome;
    color: #444;
    margin-left: 10px
}

.reportWrap ul.child {
    padding-left: 20px
}

.reportWrap ul.child li > div {
    border-bottom: 1px solid #efefef;
}

.reportWrap ul.child li > div:hover {
    background: #f5f5f5;
}

.reportWrap .amtField {
    display: inline-block;
    width: 200px;
    text-align: right;
}

/**ACCOUNT CHARTS ENDS **/

/** SELECT 2 override **/
.select2-selection {
    width: 100% !important;
}

.select2-results {
    font-size: 12px !important;
}

.select2-selection--single:not([class*=bg-]):not([class*=border-]) {
    border-color: #ddd;
}

.bootstrap-tagsinput, .select2-container--default .select2-selection--single {
    padding: 5px 15px;
    height: 40px;
    line-height: 1.5384616;
    color: #333333;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: .25rem;
    transition: border-col;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size:14px;
}

.bootstrap-tagsinput .tag:not([class*=bg-]) {
    background-color: #00619e;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: transparent;
}

.select2-container--open .select2-dropdown--below, .select2-search--dropdown .select2-search__field {
    border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
}

.select2-btn {
    width: 100%;
    background: #00619e;
    border: none;
    padding: 10px 0;
    color: #fff;
    font-weight: 300;
}

.select2-btn:hover {
    background: #607f79;
    color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #eee;
    color: #333;
}

.select2-search--dropdown:after {
    right: 10px !important;
    left: auto !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #333;
}

/** SELECT 2 OVERIDE ENDS **/

.radio-3 .radio {
    width: 33%;
    display: inline-block;
}

.radio-3 .radio label {
    display: block;
}

.info-block {
    display: block;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.info-label {
    font-weight: bold;
    display: inline-block;
    width: 33%;
}

.info-content {
    display: inline-block;
}

.info-label:after {
    content: ":";
    float: right;
    margin-right: 10px;
}

.collection-table thead tr th, .collection-table tbody {
    border: none !important;
}

.collection-table tr td {
    padding: 0 !important;
    border-top: none !important;
}

.collection-table tr {
    border-bottom: none;
}

.collection-table tr td:first-child {
    padding-left: 10px !important;
}

.collection-table.pad0 tr td:first-child {
    padding-left: 0 !important;
}

.collection-table tbody tr:last-child td {
    padding-bottom: 10px !important;
}

.table-ssm tr td {
    padding: 5px !important;
    border-top: none !important;
}

.table {
    background: #ffffff;
}

.custom-table {
    /*border: 1px solid rgba(0,0,0,.12);*/
    /*border: 1px solid #e8e8e8;*/
    font-size:14px;
}

.table tbody tr td {
    font-size:14px;
    /*border-top: 1px solid rgba(0,0,0,.12);*/
    /*border-top: 1px solid #ebffb6;*/
    border: none;
}

.table {
    color: #343a40;
}

.custom-table tbody tr:nth-of-type(even),
.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0,0,0,0.03);
}

.amtCol {
    width: 200px;
}

td.valign-top {
    vertical-align: top !important;
}

.w100 {
    width: 100px;
}

.w150 {
    width: 150px;
}

.w200 {
    width: 200px;
}

.w300 {
    width: 300px;
}

.w100.f-percent {
    width: 80px;
}

.tb-form {
    text-align: right;
}

.tb-form label, .tb-form .form-control {
    display: inline-block;
}

.tb-form label {
    min-width: 100px;
}

.tb-form .form-group {
    margin-bottom: 0;
}

.f-percent-sign {
    height: 36px;
    display: inline-block;
    line-height: 36px;
    width: 20px;
    text-align: center;
}

.ys-dropdown > li > label {
    padding: 5px 10px;
}


@media (min-width: 769px) {
    .sidebar {
        width: 240px;
    }
    .sidebar-xs .header-highlight .navbar-header {
        width: 80px;
    }
}

.sidebar {
    background-color: #fff;
    color: #e54a9b;
    position: relative;
    padding-top: 40px;
    /*border-right:1px solid rgba(0,0,0,.12);*/
    /*box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);*/
}

.sidebar-main:after {
    /*bottom: 0;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #f9f9f9;
    border-right: 1px solid #dedede;*/
}

.sidebar:not(.sidebar-default) .media .text-muted, .sidebar:not(.sidebar-default) .media .media-annotation {
    color: #e54a9b;
}

.navigation .navigation-header, .navigation .navigation-header a {
    color: #00619e;
    font-weight: 500;
}
.navigation .navigation-header{
    font-weight: 600;
    font-size: 14px;
}
.navigation li > .has-ul:after{
    opacity: 0.3;
}
.navigation li:hover .has-ul:after{
    opacity: 1;
}
.navbar-default {
    border: none;
}

.activeRow {
    background: #d3fcfd !important;
}


.navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.navigation > li ul {
    background-color: #ebffb6;
}

.navigation li a {
    color: #343a40;

}

.navigation li a:hover, .navigation li a:focus {
    background-color: #ebffb6;
    color: #343a40;
}

.navigation > li ul li a {
    padding: 5px 20px;
    padding-left: 51px;
    min-height: inherit;
    /*opacity: 0.8;*/
    font-size:14px;
    color: #606060;
}

.navigation > li > ul > li > ul > li > a:before,
.navigation > li ul li a:before {
    content: "";
    position: absolute;
    margin-top: 5px;
    width: 8px;
    height: 8px;
    border: 1px solid #00619e
    border-radius: 50%;
    background: 0 0;
}

.navigation > li ul li a:before {
    left: 31px;
}

.navigation > li > ul > li > ul > li > a:before {
    left: 53px;
}

.navigation > li > ul > li > ul > li.active > a:before, .navigation > li ul li.active a:before {
    content: "";
    border: none;
    background: #86b902;
}

.navigation > li.active > a, .navigation > li.active > a:hover, .navigation > li.active > a:focus {
    background-color: #ebffb6;
    color: #343a40;
}

.navigation > li > ul li.active > a, .navigation > li > ul li.active > a:hover, .navigation > li > ul li.active > a:focus {
    background-color: #ebffb6;
    color: #343a40;
}

.navigation li a > i {
    font-size: 21px;
    opacity: 0.3;
     color: #343a40;
}


.navigation > li > a {
    padding: 12px 30px 12px 20px;
    min-height: inherit;
    font-weight: 500;
    font-size: 13px;

}

.navbar {
    /* min-height: 60px; */
    border: none;
    /*box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);*/
}

.breadcrumb > li + li:nth-child(2):before {
    /*content: " ";*/
    padding: 0 5px;
    color: #333;
}

.header-highlight .navbar-header:not([class*=bg-]) {
   background-color: #00619e;
    box-shadow: none;
    border: none;
    border-right: 5px solid #86b902;
}
.form-control-feedback {
    text-align: center;
    overflow: visible;
    background: rgba(0,0,0,0.06);
    width: 40px;
    height: 40px;
    margin: 0;
    border-radius: 30px;
    color: #25a8de;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    height: 60px;
    font-size: 23px;
}

.navbar-brand > img {
    /*margin-top: 20px;*/
    width: 200px;
    height: auto;
}

.navbar-default {
    /*background: #ebffb6;*/
    /*webkit-box-shadow: 0 0 3px rgba(31, 30, 47, .05);*/
    /*box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);*/
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.navbar-default:after {
    /* bottom: 0;
     content: "";
     width: 100%;
     position: absolute;
     right: 0;
     left: 0;
     border-top: 1px solid #f9f9f9;
     border-bottom: 1px solid #dedede;*/
}

.navbar-nav > li > a {
    padding-top: 21px;
    padding-bottom: 20px;
}

.navbar-default .navbar-nav > li > a {
}

.navbar-nav > .dropdown-user > a {
    padding-top: 14px;
    padding-bottom: 14px;
}

.form-group-cms-search {
    margin: 15px 0 0 15px;
    position: relative;
}

.form-group-cms-search input[type="search"] {
    min-width: 300px;
    border: none;
    line-height: 36px;
    border-radius: 50px;
    background: rgba(0,0,0,0.05);
    height: 42px;
    width: 42px;
    overflow: hidden;
    position: relative;
}
.navbar-header {
    min-width: 240px;
}
.page-header-default .breadcrumb-line:not([class*=bg-]) {
    background-color: rgba(255,255,255,0.45);
}

.page-header-default {
    margin-bottom: 30px;
    border: none;
    box-shadow: none;
    background-color: #fff;
    padding: 10px 0 20px;
    border-bottom: 1px solid #ddd;
}

.page-header-default .breadcrumb-line:not([class*=bg-]) {
    background-color: transparent;
    border: none;
}

.breadcrumb > li > a {
    font-size:14px;
    color: #606060;
    letter-spacing: inherit;
}

.breadcrumb > li.home a {
    /*font-size: 17px;*/
}

.breadcrumb-elements > li > a {
    border: none;
    padding: 7px 10px;
    margin: 1px 5px;
    border-radius: 3px;
    background-color: #16aaff;
    font-weight: normal;
    background-color: #00619e;
    border-color: #00619e;
    color: #fff;
    box-shadow: 0 0.125rem 0.625rem rgb(0 97 158 / 38%), 0 0.0625rem 0.125rem rgb(0 97 158 / 40%);
}


/*.breadcrumb-elements > li:nth-child(1) a {
    color: #ffffff;
    background-color: #00619e;
}
.breadcrumb-elements > li:nth-child(2) a {
   color: #343a40;
    background-color: #d6d6d6;
}
.breadcrumb-elements > li:nth-child(3) a {
    color: #ffffff;
    background-color: #ff0000;
}
.breadcrumb-elements > li:nth-child(4) a {
    color: #ffffff;
    background-color: #00c853;
}
*/
.breadcrumb-elements > li.open > a, .breadcrumb-elements > li > a:hover, .breadcrumb-elements > li > a:focus {
   background-color: #86b902;
    border-color: #86b902;
    color: #fff;
    box-shadow: 0 0.125rem 0.625rem rgb(133 184 2 / 40%), 0 0.0625rem 0.125rem rgb(134 185 2 / 49%);
}

#top_search input {
    border-radius: 0;
    background: transparent;
    border: 0;
    width: 100%;
    color: #343a40;
    border-bottom: 1px solid #00619e;
}

#top_search_button button {
    border-radius: 0;
    width: 40px;
    padding: 5px;
    font-size: 17px;
    color: #00619e;
    background: transparent;
    /* font-weight: 500; */
    border-right: 1px solid #fff;
}

#top_search_dropdown {
    width: 240px;
    height: 400px;
    overflow-y: scroll;
}

@media (min-width: 769px) {
    .sidebar-fixed.affix {
        position: fixed;
        width: 210px;
        top: 20px;
        bottom: 20px;
        -webkit-transition: bottom ease-in-out .15s;
        -o-transition: bottom ease-in-out .15s;
        transition: bottom ease-in-out .15s;
    }

    .sidebar-xs .sidebar-main .navigation > li > a > span {
        background-color: #e5e5e5;
        border: 1px solid #e5e5e5;
        color: #606060;
    }

    .sidebar-xs .sidebar-main .navigation > li > ul {
        background-color: #f5f5f5;
        top: 40px;
    }

    .sidebar-xs .sidebar-main .navigation > li > a > i {
        font-size: 30px;
        color: #86b902;
        opacity: 1;
    }


    .page-header .breadcrumb-line:first-child {
        z-index: 1;
    }

}

@media (min-width: 769px) {
    .navbar-top .sidebar-fixed.affix {
        top: 45px;
    }
}

.table-responsive {
    overflow: visible;
}

.alpha-indigo {
    background-color: #E8EAF6 !important;
}

.custom-input-group.input-group {
    margin-bottom: 15px;
}

.custom-input-group .select2-selection--single:not([class*=bg-]):not([class*=border-]),
.custom-input-group .form-control,
.custom-form.form-control {
    border: none;
    /*border-bottom: 1px solid #00619e;*/
    background-color: #edf0f3;
}

.custom-input-group .input-group-addon,
.custom-addon.input-group-addon {
    color: #606060;
    background-color: #edf0f3;
    border: none;
    /*border-bottom: 1px solid #00619e;*/
    border-radius: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #00619e;
    border: 1px solid #00619e;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
}

.custom-input-group .caret {
    position: absolute;
    right: 10px;
    z-index: 2;
    top: 12px;
}

.attendace-check .btn {
    margin-top: 3px;
}

input.is-invalid {
    border: 1px solid #ff000069;
}

.invalid-feedback .form-error-message {
    color: red;
}

.select2 {
    display: block;
    width: 100%;
}

.breadcrumb-elements [data-toggle="collapse"] {
    display: block;
    position: relative;
    right: inherit;
}

.profile-cover .media-body, .profile-cover small {
    text-shadow: none;
}

.form-control[readonly], .form-control, input[type=email], input[type=name], input[type=number], input[type=password], input[type=text], textarea {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.form-control {
    display: block;
    width: 100%;
    background-clip: padding-box;
}

.form-control {
    background-color: transparent;
    height: 40px;
    border-radius: 3px;
    border: none;
    padding: 5px 15px;
    border: 1px solid #ddd;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #606060111;
}

/*.panel {
    margin-bottom: 20px;
    color: #101010;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
    border: 1px solid rgba(238,238,238,.75);
}*/
/*.panel-heading {
    position: relative;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 15px 20px;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 14px;

    background: #f9f9f9;
    border-left: 3px solid #00619e;
    border-radius: 0 6px 0 0;
}*/
.panel {
    border: none;
    /* box-shadow: 0 0 3px rgba(31, 30, 47, .05); */
    box-shadow: none;
}

#profile .panel {
    border: 1px solid #eaeaea;
    box-shadow: none;
}
.panel-flat > .panel-heading,
.panel-heading {
    /*background-color: #f2f3fa;*/
}
.panel-default > .panel-heading,
.panel-white > .panel-heading {
    background-color: #fff;
    border-bottom-color: #f5f3f3;
}
.content-heading {
    position: relative;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 5px 0px 0 20px;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 14px;

    background: transparent;
    border-left: 3px solid #00619e;
    border-radius: 0;
}

.page-heading {
    position: relative;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 0px 0px 0 20px;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 14px;

    background: transparent;
    border-left: 3px solid #00619e;
    border-radius: 0;
}

.panel-flat > .panel-heading {
    /*padding: 15px 20px;*/
}

.panel-default > .panel-heading {
    /*border-color: #00619e;
    border-bottom: none;
    background-color: #f9fafb;*/
}

.panel-flat > .panel-heading {
    /*
        background: #f9fafb;*/
}

.panel-flat > .panel-heading + .panel-body {
    /*padding: 20px 25px 20px;*/
}

.panel-body {
    /*padding: 20px 25px 20px;*/
}

h3.panel-title {
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    letter-spacing: .02em;
    font-size: 15px;
    font-weight: 500;
    color: #00619e;
}

.panel-title {
    color: #00619e;
}

label, p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;

}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #343a40000;
}

.label.text-success {
    background-color: rgba(30, 202, 184, .15) !important;
    color: #1ecab8 !important;
    -webkit-box-shadow: 0 0 13px 0 rgba(30, 202, 184, .05);
    box-shadow: 0 0 13px 0 rgba(30, 202, 184, .05);
}
.label.text-warning,
.label.text-danger {
    background-color: rgba(241, 100, 108, .15) !important;
    color: #f1646c !important;
    -webkit-box-shadow: 0 0 13px 0 rgba(241, 100, 108, .05);
    box-shadow: 0 0 13px 0 rgba(241, 100, 108, .05);
}
.label.text-info {
    background-color:#638dc654 !important;
    color: #2755da !important;
    -webkit-box-shadow: 0 0 13px 0 rgba(241, 100, 108, .05);
    box-shadow: 0 0 13px 0 rgba(241, 100, 108, .05);
}
.text-danger, .text-danger:hover, .text-danger:focus {
    color: #e54a9b !important;
}
.bg-danger {
    background-color: #e54a9b;
    border-color: #e54a9b;
    color: #fff;
}
.bg-info {
    background-color: #00619e;
    border-color: #00619e;
    color: #fff;
}
.text-info, .text-info:hover, .text-info:focus {
    color: #00619e !important;
}
.action .icons-list > li > a > i, .action .icons-list > li > a > .caret {
    color: #00619e;
}

.action .icons-list > li a {
    margin: 0 1px;
}
.action .icons-list > li:nth-child(1) a > i {
    color: #9ba7ca;
}

.action .icons-list > li:nth-child(2) a > i {
    color: #00619e;
}

.action .icons-list > li:nth-child(3) a > i {
    color: #e08df5;
}

.action .icons-list > li:nth-child(4) a > i {
    color: #8bc34a;
}

.dropdown-menu {
    border-radius: 3px;
    background: #fff;
    border: none;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .175);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .175);
}

.action .dropdown-menu > li:nth-child(1) a > i {
    color: #9c27b0;
}

.action .dropdown-menu > li:nth-child(2) a > i {
    color: #F44335;
}

.action .dropdown-menu > li:nth-child(3) a > i {
    color: #00619e;
}

.action .dropdown-menu > li:nth-child(4) a > i {
    color: #e52e71;
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal.right .modal-content {
    border-radius: 0;
    border: none;
}


.detailed-card {
       box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    background: #ffffff;
    border: none;
}
div#phoneWrap,
div#emailWrap{
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}
.bg-Cornflower-400 {
    font-weight: 500;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    background-color: #00619e;
    border-color: #00619e;
    color: #fff;
}

.bg-Cornflower-400:hover {
    background-color: #86b902;
    border-color: #86b902;
}

@media (min-width: 769px) {
    .sidebar-xs .header-highlight .navbar-header .navbar-brand {
        padding-left: 10px;
        background: url(/assets/images/55.png);
        background-repeat: no-repeat;
        background-position: center center;
        width: 80px;

    }
}

.footer a {
    color: #00619e;
    font-size:14px;
}

.daterangepicker td.active, .daterangepicker td.active:hover, .daterangepicker td.active:focus {
    background-color: #00619e;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #fff;
    color: #00619e;
}

.text-primary, .text-primary:hover, .text-primary:focus {
    color: #00619e !important;
}
.btn-primary {
    background-color: #00619e;
    border-color: #00619e;
    color: #fff;
    box-shadow: 0 0.125rem 0.625rem rgb(0 97 158 / 38%), 0 0.0625rem 0.125rem rgb(0 97 158 / 40%);
}
.btn-primary:hover {
    background-color: #86b902;
    border-color: #86b902;
    color: #fff;
    box-shadow: 0 0.125rem 0.625rem rgb(133 184 2 / 40%), 0 0.0625rem 0.125rem rgb(134 185 2 / 49%);
}
.border-left-primary {
    border-left-color: #00619e;
}

.custom-pagination.text-center {
    padding: 20px 0;
    margin: 20px 0;
    background: #f1f5fa;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background: #86b902;
    border: none;
}

.modal-body:before,
.modal-body:after {
    clear: both;
    display: block;
    content: "";
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background: #e54a9b;
}
.staff-detail-wrap .bg-white.panel {
    border-radius: 120px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}
.staff-detail-wrap .nav-pills{
    padding:20px;
}
.nav-pills > li > a {
    color: #676767;
    font-weight: 600;
}
.staff-detail-wrap .nav-pills > li.active > a,
.staff-detail-wrap .nav-pills > li.active > a:hover,
.staff-detail-wrap .nav-pills > li.active > a:focus {
    background: transparent;
    /*border-radius: 120px;*/
    color: #e54a9b;
}
.staff-detail-wrap .nav-pills > li > a {
   padding: 9px 12px;
    border-right: 1px solid #ddd;
    margin:3px 0;
}
.staff-detail-wrap .nav-pills > li:last-child a{
    border:none;
}
.staff-detail-wrap .nav-pills > li {
    font-size:14px;
}
.staff-detail-wrap .nav-pills > li > a i {
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    display: block;
    color: #c2c4c6;
}
.staff-detail-wrap .nav-pills > li.active > a i {
    color: #e54a9b;
}
.staff-detail-wrap .nav-pills img {
    height: 18px;
    margin-right: 3px;
}
.fn-custom-tab .nav-pills > li > a {
    border-radius: 0;
}
.exchange-rate-table input,
.fee-structure-wrapper input,
.fee-structure-wrapper select {
    height: 27px;
}

.batch-create-table input {
    height: 30px;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.timeline:before, .timeline:after {
    background-color: #828db1;
}

.timeline-container:after {
    z-index: 0;
}

.timeline-icon {
    z-index: 1;
}

.bg-fn-gradient {
    background: linear-gradient(#ffa4d3, #e54a9b);
    color: #fff;
}

.timeline-container:after {
    background-color: #828db1;
}

/* .setup-detailed-card .text-success:after {
    content: '';
    display: block;
    border: 10px solid transparent;
    border-left-color: #5685c4;
    position: absolute;
    top: 35%;
    right: -19px;
    margin-left: 0;
}

.setup-detailed-card .nav > li > a {
    border-bottom: 1px solid #ddd;
}

.setup-detailed-card .nav > li:last-child a {
    border: none;
}

.setup-detailed-card .text-success {
    background: #5987c6;
    color: #fff;
}

.setup-detailed-card .nav > li > a:hover .text-muted,
.setup-detailed-card .nav > li > a:hover, .setup-detailed-card .nav > li > a:focus {
    color: #fff;
    background-color: #5987c6;
}

.setup-detailed-card .nav > li > a.text-success {
    color: #fff !important;
}

.setup-detailed-card .nav > li > a .text-muted {
    padding-left: 23px;
}

.setup-detailed-card .nav > li > a.text-success .text-muted {
    color: #a6c5f0;
} */
.fn-setup-layout {
    display: block;
}
.fn-setup-layout .custom-item-width {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    min-height: 85px;
}
.fn-setup-layout .custom-item-width a {
    display: block;
}
.fn-setup-layout .custom-item-width .text-success {
    display: block;
}

.fn-setup-layout .setup-single-item {
    color: #3e5569;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: none;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ececec;
}
.fn-setup-layout .custom-item-width .text-success .setup-single-item {
    background: #86b902;
    color: #fff;
}
.fn-setup-layout .setup-single-item .floated-ico {
    float: left;
    margin-right: 10px;
}
.fn-setup-layout .setup-single-item i {
    margin: 10px 0;
    color: #86b902;
    font-size: 27px;
}
.fn-setup-layout .custom-item-width .text-success .setup-single-item i{
    color: #fff;
}
.fn-setup-layout .setup-single-item .item-head {
    font-size:14px;
    font-weight: 600;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    margin-bottom: 1.8rem;
    -webkit-box-shadow: 0 1px 15px 1px rgba(62,57,107,.07);
    box-shadow: 0 1px 15px 1px rgba(62,57,107,.07);
    -webkit-border-radius: .6rem;
    border-radius: .6rem;
}
.card-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.8rem;
}
.dash-list-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: #a3a3a36b;
}
.card.stat-wrapper a {
    color: #00619e;
    /* font-weight: 500; */
}
.card.stat-wrapper .card-body h6 {
    font-size: 16px;
    font-weight: 400;
}
.card.stat-wrapper .card-body {
    padding: 10px 20px;
}
.stat-int{
    /*position: relative;*/
    margin: 0;
}
.stat-wrapper img {
    opacity: 0.1;
    position: absolute;
    z-index: 0;
    width: 75px;
    bottom: 15%;
    right: 0;
}
.dash-top-stat-wrapper .stat-wrapper h6 {
    text-transform: uppercase;
    font-weight: 500;
}

.dash-top-stat-wrapper .col-md-3:nth-child(1) .stat-wrapper {
    /* background: linear-gradient(-30deg, #e5f0ff, #b3d2ff); */
}

.dash-top-stat-wrapper .col-md-3:nth-child(1) .stat-wrapper .dash-list-icon,
.dash-top-stat-wrapper .col-md-3:nth-child(1) .stat-wrapper h6 {
    color: #00619e;
}

.dash-top-stat-wrapper .col-md-3:nth-child(2) .stat-wrapper {
    /* background: linear-gradient(-30deg, #fff4e4, #ffdca8); */
}

.dash-top-stat-wrapper .col-md-3:nth-child(2) .stat-wrapper .dash-list-icon,
.dash-top-stat-wrapper .col-md-3:nth-child(2) .stat-wrapper h6 {
    color:#00619e;
}

.dash-top-stat-wrapper .col-md-3:nth-child(3) .stat-wrapper {
    /* background: linear-gradient(-30deg, #fbe4ec, #ffb1cb); */
}

.dash-top-stat-wrapper .col-md-3:nth-child(3) .stat-wrapper .dash-list-icon,
.dash-top-stat-wrapper .col-md-3:nth-child(3) .stat-wrapper h6 {
    color:#00619e;
}

.dash-top-stat-wrapper .col-md-3:nth-child(4) .stat-wrapper {
    /* background: linear-gradient(-30deg, #edffee, #8eea92); */
}

.dash-top-stat-wrapper .col-md-3:nth-child(4) .stat-wrapper .dash-list-icon,
.dash-top-stat-wrapper .col-md-3:nth-child(4) .stat-wrapper h6 {
    color:  #00619e;
}



.stat-int {
    /*position: relative;*/
    margin: 0;
}


.equal-height-dash-panel .scroll-box-wrap {
    height: 355px;
    /*overflow-y: scroll;*/
    overflow: auto;
    /* padding-right: 20px; */
}

.equal-height-dash-panel .scroll-box-wrap::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

/* Track */
.equal-height-dash-panel .scroll-box-wrap::-webkit-scrollbar-track {
    border-radius: 3px;
}

/* Handle */
.equal-height-dash-panel .scroll-box-wrap::-webkit-scrollbar-thumb {
    background: #6a89d7;
    border-radius: 3px;
}

/* Handle on hover */
.equal-height-dash-panel .scroll-box-wrap::-webkit-scrollbar-thumb:hover {
    background: #f5f5f5;
}
.equal-height-dash-panel .scroll-box-wrap span.post-date.bg-success {
    background: #d2deff;
    color: #343a40;
    font-weight: 500;
}

.activity-box-wrap {
    max-height: 358px;
    overflow-y: scroll;
    padding-right: 20px;
}

.activity-box-wrap .activity-list {
    border-bottom: 1px solid #ededed;
    padding-bottom: 14px;
    margin-bottom: 10px;
}

.post-date {
    display: inline-block;
    font-size: 11px;
    color: #ffffff;
    padding: 4px 12px;
    border-radius: 20px;
    margin-bottom: 4px;
}

.activity-box-wrap .activity-list .activity-title {
    font-weight: 500;
    margin-bottom: 4px;
    margin-top: 2px;
    font-size:14px;
}

.activity-box-wrap .activity-list .activity-title a {
    color: #333333;
}

.activity-list .entry-meta {
    font-size:14px;
}

.activity-list .entry-meta span {
    color: #a4a4a4;
}


/*.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    width: 100%;
    margin-left: 10px;
}
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 50%;
}

.radio-container:hover input ~ .checkmark {
  background-color: #606060;
}

.radio-container input:checked ~ .checkmark {
  background-color: #00619e;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
    top: 7px;
    left: 7px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
}*/
.fn-radio-group {
    padding: 5px 15px;
    height: 40px;
    line-height: 1.5384616;
    color: #333333;
    background-color: #edf0f3;
    background-clip: padding-box;
    border: none;
    font-size:14px;
    width: 100%;
}

.fn-radio-group label.radio-inline {
    display: block;
    margin-top: 5px;
}

.sidebar-main .navigation > li > a > span.show-xs-heading {
    display: none;
}


.sidebar-xs .sidebar-main .navigation > li > a > span.show-xs-heading {
    display: block;
    position: relative;
    right: inherit;
    background: transparent;
    border: none;
    width: auto;
    text-align: center;
    border-radius: 0;
    padding: inherit;
    font-size: 10px;
}

.u-list-item{
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
    padding-top: 10px;
}

.u-list-item:last-child{
    border:none;
}
.u-list-item col{
    margin-bottom: 5px;
}
.meta-header {
    margin-right: 9px;
}
.meta-user-data {

}
.equal-height-student-card{
    height: 400px;
    border:none;
    box-shadow: none;
    border-radius: 0;
}
.fn-user-profile-card{
    display: flex;
    align-items: center;
}
.fn-user-profile-card .bordered-right{
    border-right: 1px solid #e5e5e5;
}
.nepali-date-picker table {
    border: none;
    margin-top: 10px;;
}
.nepali-date-picker table td {
    border: none;
    width: auto;
    height: auto;
    padding: 10px;
}
.current-month-date.active, .drop-down-content li.active {
    background-color: #00619e;
    border-radius: 3px;
}
.nepali-date-picker table thead {
    background: transparent;
}
.nepali-date-picker table thead td {
    color: #8b8686;
    font-weight: normal;
}
/* .nepali-date-picker .today-btn.icon{
    font-size: 16px;
    background-position: inherit;
    background-image: none;
    float: right;
    height: 30px;
    width: 20px;
    margin: 0;
    line-height: 30px;
    text-align: center;
}
.nepali-date-picker .icon{
}

.nepali-date-picker .next-btn.icon {
    background-position: inherit;
    background-image: none;
    float: right;
    height: 30px;
    margin: 0;
    width: 20px;
    line-height: 30px;
    text-align: center;
}
.nepali-date-picker .prev-btn.icon {
    float: left;
    height: 30px;
    line-height: 30px;
    width: 20px;
    background-position: inherit;
    background-image: none;
    text-align: center;

}
.nepali-date-picker .prev-btn.icon:before{
    content: "\e9c8";
    font-family: 'icomoon';
}
.nepali-date-picker .today-btn.icon:after{
    content: "\e9cb";
    font-family: 'icomoon';
} */
.nepali-date-picker .current-month-txt {
    width: 31%;
}
@media (min-width: 1025px) {
    .timeline-icon:after {
        background-color: #828db1;
    }
}
.navbar.student-profile-navbar {
    background: #00619e;
    min-height: 60px;
    padding: 15px 20px;
}
.navbar-default.student-profile-navbar .navbar-nav > li > a{
    color: #ddd;;
}
.navbar-default.student-profile-navbar .navbar-nav > .active > a,
.navbar-default.student-profile-navbar .navbar-nav > .active > a:hover,
.navbar-default.student-profile-navbar .navbar-nav > .active > a:focus {
    color: #1b65cc;
    background-color: #f8f8f8;
}
.navbar-default.student-profile-navbar .navbar-nav > li > a:hover,
.navbar-default.student-profile-navbar .navbar-nav > li > a:focus{
    color: #1b65cc;
    background-color: #f8f8f8;
}
.fn-invoice-wrap{

}

.student-only-block ul li,
.fn-invoice-wrap ul li{
    font-size:14px;;
}
.table tbody tr td a label {
    cursor: pointer;
}
.log-body ul li{
    font-size:14px;
}
.record-payment-btn-wrap .recordPayment{
    width: 100%;
}
@media (min-width: 769px) {
    .nav-tabs.nav-tabs-bottom > li.active > a:after {
        background-color: #0288d1;
    }

    .nav-tabs.nav-tabs-bottom.bottom-divided {
        border-bottom-color: #ddd;
    }

    .nav-tabs.nav-tabs-highlight > li.active > a, .nav-tabs.nav-tabs-highlight > li.active > a:hover, .nav-tabs.nav-tabs-highlight > li.active > a:focus {
        border-top-color: #00619e;
    }

    .breadcrumb-elements {
        margin-top: 13px;
    }

    .sidebar-xs .sidebar-main .navigation > li > ul > li > ul > li > a:before,
    .sidebar-xs .sidebar-main .navigation > li ul li a:before {
        content: none;
    }

    .sidebar-xs .sidebar-main .navigation > li > a {
        padding-left: 6px;
        padding-right: 6px;
        border-bottom: 1px solid #ebffb6;
    }

    .sidebar-xs .sidebar-main {
        width: 80px;
    }

}

@media screen and (min-width: 1900px) {
    .content-wrapper {

    }

    .sidebar-xs .header-highlight .navbar-header,
    .sidebar-xs .sidebar-main {
        width: 100px;
    }

    .sidebar-xs .sidebar-main .navigation > li > a > span.show-xs-heading {
        font-size: 13px;
    }

    .table tbody tr td {
        font-size: 13px;
    }
    .table .bg-table-head > tr > th {
        font-weight: 600;
    }
    .sidebar-xs .header-highlight .navbar-header .navbar-brand {
        width: 100px;
        /* background-size: 60px; */
    }
    .staff-detail-wrap .nav-pills > li {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .header-highlight .navbar-header > .navbar-nav > li > a {
        color: #a4abc5;
    }

    .sidebar {
        padding-top: 0;
    }

    .content-wrapper {
        padding-top: 0;
    }

    .content {
        padding: 0 10px 90px 10px;
    }

    .navbar-brand > img {
        width: 135px;
    }

    .breadcrumb-line .breadcrumb {
        margin: 0;
    }

    .profile-cover .profile-cover-img {
        height: 262px !important;
    }

    .timeline-row {
        position: relative;
        z-index: 2;
    }

    .table-responsive {
        overflow: auto;
    }
}

.text-rotate-90 {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spinner-border .75s linear infinite;
}



/*********** style copied from travelexo scss files***********/

.bg-default{
  background-color: #6659f7;
  color: #fff; }
  .bg-default:hover {
    background-color: #e54a9b; }

.bg-fn-pink {
    background-color: #e54a9b;
    color: #fff;
    box-shadow: 0 0.125rem 0.625rem rgba(255, 22, 149, 0.4), 0 0.0625rem 0.125rem rgba(255, 22, 149, 0.5);
}
  .bg-fn-pink:hover {
    background-color: #6659f7; }

.bg-fn-black{
  background-color: #5f6368;
  color: #fff; }
  .bg-fn-black:hover {
    background-color: #6659f7; }

.text-success, .text-success:hover {
  color: #02cccd !important; }

.text-warning, .text-warning:hover {
  color: #ffab2e !important; }

.text-danger, .text-danger:hover {
  color: #ff3ca6 !important; }

.bg-danger {
  background-color: #ff3ca6; }

.text-muted, .text-muted:hover {
  color: #8392a5 !important; }

.bg-light {
  background-color: #F8F9FA; }

.itinary-custom-tab {
  position: relative; }
  .itinary-custom-tab .nav-pills {
    border: 1px solid #ddd; }
    .itinary-custom-tab .nav-pills li.active a {
      color: #5f6368;
      background-color: #F8F9FA; }
    .itinary-custom-tab .nav-pills li.active .day-data-icons i {
      color: #fff; }
    .itinary-custom-tab .nav-pills li a {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      font-weight: 600;
      text-transform: uppercase;
      border-bottom: 1px solid #dadce0; }
    .itinary-custom-tab .nav-pills li:last-child a {
      border: none; }

.day-data-icons {
  display: block;
  margin-top: 10px; }
  .day-data-icons i {
    height: 25px;
    width: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    line-height: 25px;
    font-size: 14px;
    margin-right: 2px;
    color: #fff;
    background-color: #6659f7; 
}
  .day-data-icons .icon-city {
    background: #ff3ca6; }
  .day-data-icons .icon-bus {
    background: #00619e; }
  .day-data-icons .icon-three-bars {
    background: #6659f7; }

.iti-column ul {
  margin: 0;
  padding: 0; }

li.draggable-item {
  width: inherit;
  padding: 5px 10px;
  margin-bottom: 8px;
  background-color: #F8F9FA;
  font-size: 12px;
  border: 1px solid #ddd;
  -webkit-transition: transform .25s ease-in-out;
  -moz-transition: transform .25s ease-in-out;
  -o-transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  -webkit-transition: box-shadow .25s ease-in-out;
  -moz-transition: box-shadow .25s ease-in-out;
  -o-transition: box-shadow .25s ease-in-out;
  transition: box-shadow .25s ease-in-out;
  list-style: none; }
  li.draggable-item:hover {
    cursor: pointer;
    background-color: #eaeaea; }

/* styles during drag */
li.draggable-item.ui-sortable-helper {
  background-color: #e5e5e5;
  -webkit-box-shadow: 0 0 8px rgba(53, 41, 41, 0.8);
  -moz-box-shadow: 0 0 8px rgba(53, 41, 41, 0.8);
  box-shadow: 0 0 8px rgba(53, 41, 41, 0.8);
  transform: scale(1.015);
  z-index: 100; }

li.draggable-item.ui-sortable-placeholder {
  background-color: #ddd;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000; }

.iti-tab-content {
  border: 1px solid #dadce0;
  padding: 7px 10px; }

.btn-rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

/*--itinary new design style--*/
.activity-wrapper {
  position: relative; }
  .activity-wrapper .panel {
    margin-left: 20px;
    position: relative;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03) }

    .activity-wrapper .panel .desc-act {
      margin: 20px 0; }
  .activity-wrapper .panel-heading {
    padding-left: 30px; }
  .activity-wrapper .act-icon-left {
    position: absolute;
    z-index: 1;
    left: -21px;
    top: 20px; }
    .activity-wrapper .act-icon-left i {
      background: #6659f7;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      line-height: 44px;
      color: #fff;
      height: 44px;
      width: 44px;
      display: block;
      text-align: center;
      font-weight: 700;
      font-size: 19px; }
    .activity-wrapper .act-icon-left i.icon-city {
      background: #e54a9b; }
    .activity-wrapper .act-icon-left i.icon-bus {
      background: #00619e; }
  .activity-wrapper .block-meta-wrap {
    margin: 0 0 20px; }
  .activity-wrapper .heading-text li {
    display: inline-block;
    margin-left: 6px; }

.add-meta-wrapper {
  display: block;
  padding: 15px 15px 0 15px;
  margin: 20px 0; }
  .add-meta-wrapper a {
    display: block;
    border: none;
    background-color: #16aaff;
    text-align: center;
    padding: 10px 15px;
    color: #ffffff;
    font-weight: 600;
}
    .add-meta-wrapper a:hover {
      color: #fff;
      background-color: #e54a9b; }

.custom-cover::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #16aaff78;
  opacity: 0.6;
  top: 0;
  border-radius: 5px; }

.custom-cover .media {
  z-index: 2;
  display: block; }

.custom-cover .profile--img {
  background-size: cover;
  background-position: 50%;
  position: relative;
  padding: 100px 0;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.19); }

.fn-tabbable .nav-tabs.nav-tabs-solid {
  position: relative; }

.fn-tabbable .nav-tabs.nav-tabs-solid > li > a {
  /* width: 90px; */
  /* height: 90px; */
  margin: 15px 15px;
  /* border-radius: 100% !important; */
  padding: 10px 20px;
  border: 1px solid #dadce0;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  background-color: #fff;
  border-radius: 25px !important; }

.fn-tabbable .nav-tabs.nav-tabs-solid > .active > a,
.fn-tabbable .nav-tabs.nav-tabs-solid > .active > a:hover,
.fn-tabbable .nav-tabs.nav-tabs-solid > .active > a:focus {
  background-color: #f7f9fa;
  border: 1px solid #ff3ca6;
  border-color: #ff3ca6;
  color: #ff3ca6; }

.fn-tabbable .nav-tabs.nav-tabs-solid > li > a i {
  margin-right: 4px; }

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%; }

.fn-common-user,
.fn-common-user .profile-cover-img {
  background-color: #fff;
  padding: 30px 30px 30px;
  min-height: 240px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13); }


.fn-common-user .media-body {
  color: #00619e;
  text-shadow: none; }

.media .profile-thumb img {
  width: 110px;
  height: 110px;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }

.fn-tabbable {
  margin-top: -90px; }

.fn-tabbable .nav-tabs.nav-tabs-solid {
  position: relative;
  margin-left: 50px;
  margin-right: 30px;
  background-color: #fff;
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16); */ }

.bg-light-blue {
  background-color: #ebf5ff;
  margin: inherit !important; }

.fn-tabbable .nav-tabs.nav-tabs-solid > li > a:after {
  content: "";
  display: block;
  background: #dadce0;
  height: 1px;
  position: absolute;
  width: 80%;
  left: 100%;
  right: 0;
  top: 50%; }

.fn-tabbable .nav-tabs.nav-tabs-solid > li:last-child a:after {
  content: none; }

.fn-common-user-sidebar {
  border: none;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13); }

.fn-common-user-sidebar.sidebar-default .category-title {
  border-bottom-color: #ddd;
  background-color: #e0f3ff;
  border: none; }
.fn-common-user-sidebar.sidebar-default .category-title > span {
    font-weight: 600;
    font-size: 13px;
}
.mr-2, .mx-2 {
  margin-right: 0.625rem !important; }

.agent-custom-height::-webkit-scrollbar {
  width: 6px;
  background: #f0f1f2;
  border-radius: 30px; }

.agent-custom-height::-webkit-scrollbar-track {
  border-radius: 30px;
  background: #f0f1f2; }

.agent-custom-height::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #8438d6; }

.agent-row {
  /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);*/
  border:1px solid #ddd;
  position: relative;
  margin-bottom: 30px; }

.agent-row > div {
  display: table-cell;
  float: none;
  vertical-align: middle; }

.agent-row-image {
  background-color: #fff;
  padding: 9px; }

.agent-row-image-inner a {
  display: block;
  position: relative;
  background-color: rgba(0, 0, 0, 0.15);
  display: block;
  height: 0;
  padding-bottom: 100%;
  position: relative; }

.agent-row-image img {
  height: auto;
  position: relative;
  width: 100%;
  z-index: 2; }

.agent-row-content {
  background-color: #fff; }

.agent-row-info {
  padding: 16px;
  border-left: 1px solid #dadce0; }

.agent-row-info ul {
  color: #424242;
  list-style: none;
  margin: 0;
  padding: 0; }

.agent-row-info ul li {
  margin: 0; }
.agent-row-info ul a,
.agent-row-info ul li a{
    color: #1a1a1a;
}

.agent-row-info ul .fa {
  color: #616161;
  margin: 0 5px 0 0; }

.Charts-head-wrap a {
  padding: 7px 14px; }

.Charts-head-wrap #expandAllChart {
  color: #fff;
  background-color: #6659f7;
  margin-right: 5px; }

.Charts-head-wrap #collapseAllChart {
  color: #fff;
  background-color: #ff3ca6; }

.account-chart-list {
  list-style: none;
  padding: 0; }
  .account-chart-list li {
    margin: 10px 0;
    border: 1px solid #dadce0;
    padding: 10px;
    list-style: none; }
    .account-chart-list li:after {
      clear: both;
      display: block;
      content: ""; }
    .account-chart-list li .account-chart-title {
      display: inline-block;
      width: 70%;
      text-align: left; }
  .account-chart-list .ac-btn-group {
    display: inline-block;
    width: 27%;
    text-align: right; }
    .account-chart-list .ac-btn-group a {
      box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset; }
    .account-chart-list .ac-btn-group .icon-pencil7 {
      color: #02cccd; }
    .account-chart-list .ac-btn-group .icon-plus3 {
      color: #6659f7; }
    .account-chart-list .ac-btn-group .icon-trash {
      color: #ff3ca6; }
.text-size-small {
    font-size: 13px;
}
.fn-submit.submit-btn {
    padding: 9px 30px;
    font-weight: 600;
    font-size: 15px;
    text-transform: capitalize;
}
li.cust-edit-details {
    position: absolute;
    right: -19px;
    top: -19px;
    height: 44px;
    width: 44px;
    background: #e7f8ff;
    border-radius: 50%;
    text-align: center;
    line-height: 44px;
}
li.cust-edit-details a {
    color: #16aaff;
}
span.day-date input[type="datetime"] {
    background-color: white;
    height: 45px;
    border-radius: 3px;
    padding: 5px 15px;
    border: 1px solid #ddd;
    color: #333333;
}

.text-primary-400, .text-primary-400:hover, .text-primary-400:focus {
    color: #00619e !important;
}
.border-primary {
    border-color: #00619e;
}