td > li{
    list-style: none;
}

.check-item{
    display:inline;
    padding-right: 10px;
}

.check-input-wrappers{
    display: inline;
    padding-left: 30px;
}

tbody > .header{
    border-bottom: 1px solid #ddd;
}