@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

body, html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #000;
}

body {
    background-color: #faf2f2;
}

a {
    color: #000000;
    text-decoration: none;
}
a:hover{
    text-decoration: none !important; 
}
.pace .pace-progress {
    background: #09212c;
}
@font-face {
    /*font-family: 'icomoon';*/
    /*src: url('icons/fonts/icomoon.eot?jl7zqu');*/
    /*src: url('icons/fonts/icomoon.eot?jl7zqu#iefix') format('embedded-opentype'),*/
    /*url('icons/fonts/icomoon.ttf?jl7zqu') format('truetype'),*/
    /*url('icons/fonts/icomoon.woff?jl7zqu') format('woff'),*/
    /*url('icons/fonts/icomoon.svg?jl7zqu#icomoon') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
    /*font-display: block;*/
}

.icon-fn_bill:before {
    content: "\f1";
}

.icon-fn_class:before {
    content: "\f2";
}

.icon-fn_dashboard:before {
    content: "\f3";
}

.icon-fn_exam:before {
    content: "\f4";
}

.icon-fn_expenses:before {
    content: "\f5";
}

.icon-fn_money:before {
    content: "\f6";
}

.icon-fn_paper:before {
    content: "\f7";
}

.icon-fn_schedule:before {
    content: "\f8";
}

.icon-fn_stock:before {
    content: "\f9";
}

.icon-fn_student:before {
    content: "\f10";
}

.icon-fn_training:before {
    content: "\f11";
}

.icon-fn_vendor:before {
    content: "\f12";
}

.icon-fn_work:before {
    content: "\f13";
}
@font-face {
    font-family: 'custom-emp-icons';
    src:  url('icons/fonts/emp-fonts/custom-emp-icons.eot?3dtlgx');
    src:  url('icons/fonts/emp-fonts/custom-emp-icons.eot?3dtlgx#iefix') format('embedded-opentype'),
    url('icons/fonts/emp-fonts/custom-emp-icons.ttf?3dtlgx') format('truetype'),
    url('icons/fonts/emp-fonts/custom-emp-icons.woff?3dtlgx') format('woff'),
    url('icons/fonts/emp-fonts/custom-emp-icons.svg?3dtlgx#custom-emp-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="ep-icon-"], [class*=" ep-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'custom-emp-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ep-icon-ep-portfolio:before {
    content: "\e1";
}
.ep-icon-ep-profile:before {
    content: "\e2";
}
.ep-icon-ep-account:before {
    content: "\e3";
}
.ep-icon-ep-detail:before {
    content: "\e4";
}
.ep-icon-ep-document:before {
    content: "\e5";
}
.ep-icon-ep-employment:before {
    content: "\e6";
}
.ep-icon-ep-leave:before {
    content: "\e7";
}
.ep-icon-ep-lecture-rate:before {
    content: "\e8";
}
.ep-icon-ep-payroll:before {
    content: "\e9";
}

@font-face {
    /*font-family: 'icomoon';*/
    /*src:  url('icons/fonts/new-icons/icomoon.eot?vy338r');*/
    /*src:  url('icons/fonts/new-icons/icomoon.eot?vy338r#iefix') format('embedded-opentype'),*/
    /*url('icons/fonts/new-icons/icomoon.ttf?vy338r') format('truetype'),*/
    /*url('icons/fonts/new-icons/icomoon.woff?vy338r') format('woff'),*/
    /*url('icons/fonts/new-icons/icomoon.svg?vy338r#icomoon') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
    /*font-display: block;*/
}

[class^="new-"], [class*=" new-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.new-fixedasset:before {
    content: "\e903";
}
.new-inventory2:before {
    content: "\e901";
}
.new-hotel:before {
    content: "\e902";
}
.new-agent:before {
    content: "\e935";
}
.new-employee:before {
    content: "\e936";
    /*color: #4d4d4d;*/
}
.new-enquiry_2:before {
    content: "\e939";
}
.new-itinerary:before {
    content: "\e9f2";
}
.new-proposal:before {
    content: "\e9f3";
}
.new-proposal_2:before {
    content: "\e9f4";
}
.new-tourfile_2:before {
    content: "\e9fa";
}
.new-tourguide:before {
    content: "\ea16";
}
.new-vendor:before {
    content: "\ea17";
}
.new-destination:before {
    content: "\e900";
}

@font-face {
    font-family: 'fn_dash-icons';
    src:  url('icons/fonts/dash-icons/fn_dash-icons.eot?c89wsx');
    src:  url('icons/fonts/dash-icons/fn_dash-icons.eot?c89wsx#iefix') format('embedded-opentype'),
    url('icons/fonts/dash-icons/fn_dash-icons.ttf?c89wsx') format('truetype'),
    url('icons/fonts/dash-icons/fn_dash-icons.woff?c89wsx') format('woff'),
    url('icons/fonts/dash-icons/fn_dash-icons.svg?c89wsx#fn_dash-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="fn-d-icon-"], [class*=" fn-d-icon-"] {
    font-family: 'fn_dash-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fn-d-icon-assignment:before {
    content: "\da1";
}
.fn-d-icon-bill:before {
    content: "\da2";
}
.fn-d-icon-calendar:before {
    content: "\da3";
}
.fn-d-icon-course:before {
    content: "\da4";
}
.fn-d-icon-dashboard:before {
    content: "\da5";
}
.fn-d-icon-employee:before {
    content: "\da6";
}
.fn-d-icon-exam:before {
    content: "\da7";
}
.fn-d-icon-inventory:before {
    content: "\da8";
}
.fn-d-icon-library:before {
    content: "\da9";
}
.fn-d-icon-program-batch:before {
    content: "\da909";
}
.fn-d-icon-report:before {
    content: "\da90a";
}
.fn-d-icon-student:before {
    content: "\da90b";
}
.fn-d-icon-vendor:before {
    content: "\da90c";
}
.display-flex{
    display: flex;
}
/*custom fond end-------------<*/

label.required:after,
legend.required:after {
    content: ' *';
    color: #ff3082;
}

.content {
}

.margin-top-10 {
    margin-top: 10px;
}

.daterangepicker select.yearselect {
    width: 50%;
}

.daterangepicker.dropdown-menu{
    z-index: 9999;
}

/*.navbar-default .navbar-nav > li > a {

}
.navbar-nav > .dropdown-user img {
    max-height: 27px;
    margin-top: 0;
    border-radius: 50%;
}
.menu-list li > a {
    padding: 8px 12px;
    border-radius: 3px;
    color: #333;
    font-weight: 600;
    text-shadow: 0 1px 0 #fff;
}
.menu-heading {
    font-size: 13px;
    font-weight: 600;
    color: #03a9f4;
}*/
.fn-top-nav-right li:nth-child(1) > a i {
    /* color: #9c27b0; */
}

.fn-top-nav-right li:nth-child(2) > a i {
    /* color: #F44335; */
}

.fn-top-nav-right li:nth-child(3) > a i {
    /* color: #4caf50; */
}

.fn-top-nav-right li:nth-child(4) > a i {
    /* color: #ff8a00; */
}

.sidebar-content .category-content {
    /*padding: 13px 5px;*/
}
/*.hms-navbar-secondary{
    background-color: #fff;
    background: linear-gradient(#fff, #dcdcdc);
    border:1px solid #dee2e6 !important;
}
.navbar-default .navbar-nav > li > a {
    color: #044a88;
    font-weight: 600;
    padding: .6em;
    text-shadow: 0 1px 0 #fff;
}*/

/*.navbar-default .navbar-nav .sidebar-main-toggle {
    color: #007d77;
}
.hms-navbar-secondary .nav > li {
    border-right: 1px solid #fff;
    border-left: 1px solid #dee2e6;
}
.breadcrumb > .active {
    color: #03a9f4;
}

.breadcrumb > li {
    font-weight: 600;
    font-size:13px;
}

.breadcrumb-line .breadcrumb {
    padding: 0;
    margin-top: 12px;
}

.input-group-addon {
    color: #fff;
    background-color: #03a9f4;
    border: none;
}*/

.sidebar-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    background-color: #F5F5F5;
}

/*.navigation > li > a {
    color: #e54a9b;
}*/

/*.pagination > li > a, .pagination > li > span {
    background: linear-gradient(#ffffff, #dedede);
}*/
a.btn.btn-xs.add-button {
}

.btn-view {
    background-color: #05161f;
    color: #fff;
}
.row_add{
    padding: 2px 12px;
}
.row_add i {
    font-size: 13px;
}
.btn:focus{
    background-color: #03a9f4;
    color: #fff;
}
.add-button {
}

.btn-edit {
    background-color: #ef6c00;
    color: white;
}

.add-button.btn-default {
    background-color: #84c4bb;
    color: #fff;
}

.btn-delete.delete {
    background-color: #c50000;
    color: #fff;
}

.status-success {
    color: #84c4bb;
}

.status-info {
    color: #8bbfff;
}

.status-pending {
    color: #ffaa10;
}

.status-denied {
    color: #c50000;
}


/*.page-container {
    padding-left: 0;
    padding-top: 0;
    padding-right: 0px; 
}*/

/*.content-wrapper {
    padding-top: 0;
}*/

/*.sidebar-content {
    border-radius: 0;
    margin-top: 0px;
}*/
.table.custom-table {
    color: #343a40;
}
.table-hover > tbody > tr:hover {
    background-color:transparent;
}
.custom-table .bg-table-head {
    color: #343a40;
    white-space: nowrap;
}
thead.bg-table-head {
    box-shadow: none;
}
.modal-header, .modal-header.bg-table-head {
    background: #fff;
    color: #1a3353;
    white-space: nowrap;
    padding: 10px 20px;
    border-bottom: 1px solid #dee2e6;
}
/*.bg-table-head tr {
}*/

/*.table > thead > tr > th {
        border-bottom: 1px solid #dee2e6;
    font-weight: 600;
    border-right: 1px solid #dee2e6;
    text-shadow: 0 1px 0 #fff;
    color: #03a9f4;
    background-color: #f5f7fd;
    box-shadow: inset 1px 1px 0px #fff;
}*/
/*.table.collection-table .bg-table-head th {
    background: #e4e4e4;
}*/
/*.bg-table-head .close {
    color: #444 !important;
}

.bg-tab-head {
    background-color: #60c5bb;
}*/
.modal-content[class*=bg-] .modal-header .close, .modal-header[class*=bg-] .close {
    color: #03a9f4;
}
.nav-tabs[class*=bg-] > .active > a, .nav-tabs[class*=bg-] > .active > a:hover, .nav-tabs[class*=bg-] > .active > a:focus {
    background-color: rgb(38, 166, 154);
}

.sidebar {
    padding-right: 0;
}

.category-content.sidebar-user {
    background: #dcdcdc;
    color: #333;
}

.no-content {
    display: block;
    color: #999;
    font-size: 14px;
    text-align: center;
    padding: 2em;
}

.no-content-message {
    padding: 1em;
        font-size: 14px;
    color: #ff3082;
}
.no-content-message p {
    font-weight: 600;
}
.no-content a {
    color: #2196f3;
}

.no-content a:hover {
    text-decoration: underline;
}

/** SEARCH PANEL **/
/*.panel-search {
    padding: 15px 10px 0px;
    border-radius: 2px;
    border: 1px solid #dee2e6;
    background-color: #f5f7fd;
    box-shadow: inset 1px 1px 0px #fff;
}
*/
.panel-bulk {
    display: block;
    margin-bottom: 10px;
}

.bulk-check {
    margin-right: 10px !important;
}

/** SEARCH PANEL ENDS **/

/** PERMISSIONS **/
.dn-sub-group-wrap, .dn-main-group-buttons {
    margin: 0;
    padding: 0;
}

.dn-module-title a {
    padding: 10px;
    display: block;
    color: #297d78;
    text-transform: capitalize;
    border-bottom: 1px solid #fff;
    background: #e4e5e6;
}

.dn-module-title.active a, .dn-module-title a:hover, .dn-module-title a:focus {
    border-left: 2px solid #005751;
    text-decoration: none;
    padding-left: 8px;
}

.dn-permission-wrapper input[type="checkbox"] {
    margin-right: 10px;
}

.dn-sub-group-wrap {
    background: #FFF;
}

.dn-group-list {
    padding: 1rem
}

.dn-group-items {
    margin-bottom: 1rem;
    background: #f5f5f5;
}

.dn-group-title {
    border-bottom: 1px solid #dee2e6;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
}

i.group-check, i.group-uncheck {
    margin-right: 5px;
    font-size: 18px
}

.dn-perm-list {
    padding: 10px;
}

.dn-perm-item {
    font-size:14px;
    text-transform: capitalize;
    color: #666;
}

.module-check, .module-uncheck {
    color: #666 !important;
    cursor: pointer;
}

/** PERMISSIONS END **/


/** ACCOUNT CHARTS **/
.account-chart-list, .account-chart-list ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.account-chart-list li {
    padding-left: 10px;
}

.account-chart-title:before {
    font-family: fontAwesome;
    content: "\f152";
    font-weight: normal;
    margin-right: 5px;
}

.account-chart-list li.open > .account-chart-title:before {
    content: "\f150"
}

.account-chart-list .account-chart-title.noChild:before, .account-chart-list li.open > .account-chart-title.noChild:before {
    content: "\f096"
}

li.ac-top {
    background: #fafafa;
    margin-bottom: 1em;
    padding-top: 0;
    padding-left: 0;
}

.account-chart-list li {
    position: relative;
}

.account-chart-list li span {
    padding: 10px;
    display: block;
}

.account-chart-list li .ac-btn-group {
    position: absolute;
    padding: 10px;
    display: inline-block;
    right: 10px;
    top: -7px;
}

.account-chart-list span:hover {
    background: #eaf0f7;
}

li.ac-top > span {
    background: #f1f5fa;
}


.reportWrap li.ac-top {
    background: none;
    margin-bottom: 10px;
}

.reportWrap li.ac-top > div {
    background: none;
    border-bottom: 1px solid #ccc;
}

.reportWrap li div:before {
    content: "" !important;
}

.reportWrap li.ac-top > div:hover {
    background: none
}

.reportWrap div.hasChild:after {
    content: "\f107";
    font-family: FontAwesome;
    color: #444;
    margin-left: 10px
}

.reportWrap ul.child {
    padding-left: 20px
}

.reportWrap ul.child li > div {
    border-bottom: 1px solid #efefef;
}

.reportWrap ul.child li > div:hover {
    background: #f5f5f5;
}

.reportWrap .amtField {
    display: inline-block;
    width: 200px;
    text-align: right;
}

/**ACCOUNT CHARTS ENDS **/

/** SELECT 2 override **/
.select2-selection {
    width: 100% !important;
}

.select2-results {
    font-size: 12px !important;
}

.select2-selection--single:not([class*=bg-]):not([class*=border-]) {
    border-color: #dee2e6;
}
.select2-selection--multiple:not([class*=bg-]):not([class*=border-]) {
    border-color: #dee2e6;
}
.select2-container--default .select2-selection--multiple {
    background-color: white;
    cursor: text;
    border-radius: 4px;
    outline: none;
    height: 34px;
    background: #fff;
    border: 1px solid #dee2e6;
    color: #555;
    padding: 4px;
}
 .select2-container--default .select2-selection--single {
line-height: 1.5384616;
    background-color: transparent;
    background-clip: padding-box;
    transition: border-col;
    font-weight: 400;
    font-size: 12px;
    border-radius: 4px;
    outline: none;
    height: 34px;
    background: #fff;
    border:1px solid #dee2e6;
    color: #555;
    padding: 4px;
}
.bootstrap-tagsinput{
    min-height: 34px;
}
.bootstrap-tagsinput .tag:not([class*=bg-]) {
    background-color: #03a9f4;
}
.bootstrap-tagsinput input,
.bootstrap-tagsinput .tag{
    /*padding: 1px 10px;*/
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    /*background-color: transparent;*/
    background-color: #F5F5F5;
}


.select2-container--open .select2-dropdown--below, .select2-search--dropdown .select2-search__field {
    border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
}

.select2-btn {
    width: 100%;
    background: #03a9f4;
    border: none;
    padding: 10px 0;
    color: #fff;
    font-weight: 300;
}

.select2-btn:hover {
    background: #607f79;
    color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #eee;
    color: #333;
}

.select2-search--dropdown:after {
    right: 10px !important;
    left: auto !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #333;
}

/** SELECT 2 OVERIDE ENDS **/

.radio-3 .radio {
    width: 33%;
    display: inline-block;
}

.radio-3 .radio label {
    display: block;
}

.info-block {
    display: block;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.info-label {
    font-weight: bold;
    display: inline-block;
    width: 33%;
}

.info-content {
    display: inline-block;
}

.info-label:after {
    content: ":";
    float: right;
    margin-right: 10px;
}

.collection-table thead tr th, .collection-table tbody {
    border: none !important;
}

.collection-table tr td {
    padding: 0 !important;
    border-top: none !important;
}

.collection-table tr {
    border-bottom: none;
}

.collection-table tr td:first-child {
    padding-left: 10px !important;
}

.collection-table.pad0 tr td:first-child {
    padding-left: 0 !important;
}

.collection-table tbody tr:last-child td {
    padding-bottom: 10px !important;
}

.table-ssm tr td {
    padding: 5px !important;
    border-top: none !important;
}

.table {
    background: #ffffff;
}

/*.custom-table {
    font-size:14px;
}

.table tbody tr td {
    font-size:13px;
    border-top: 1px solid #dee2e6;
}
.table {
    color:#1a3353;
}

.custom-table tbody tr:nth-of-type(even),
.table-striped tbody tr:nth-of-type(even) {
    background-color: #fff;
}*/

.amtCol {
    width: 200px;
}

td.valign-top {
    vertical-align: top !important;
}

.w100 {
    width: 100px;
}

.w150 {
    width: 150px;
}

.w200 {
    width: 200px;
}

.w300 {
    width: 300px;
}

.w100.f-percent {
    width: 80px;
}

.tb-form {
    text-align: right;
}

.tb-form label, .tb-form .form-control {
    display: inline-block;
}

.tb-form label {
    min-width: 100px;
}

.tb-form .form-group {
    margin-bottom: 0;
}

.f-percent-sign {
    height: 36px;
    display: inline-block;
    line-height: 36px;
    width: 20px;
    text-align: center;
}

.ys-dropdown > li > label {
    padding: 5px 10px;
}


@media (min-width: 769px) {
    .sidebar {
        width: 210px;
    }
    .sidebar-xs .header-highlight .navbar-header {
        width: 80px;
    }
}

/*.sidebar {
    background-color: #fff;
    color: #e54a9b;
    position: relative;
    padding-top: 40px;
}*/



.activeRow {
    background: #d3fcfd !important;
}

/*
.navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.navigation > li ul {
    background-color: #ebffb6;
}

.navigation li a {
    color: #343a40;

}*/

/*.navigation li a:hover, .navigation li a:focus {
    background-color: #ebffb6;
    color: #343a40;
}

.navigation > li ul li a {
    padding: 5px 20px;
    padding-left: 51px;
    min-height: inherit;
    font-size:14px;
    color: #606060;
}

.navigation > li > ul > li > ul > li > a:before,
.navigation > li ul li a:before {
    content: "";
    position: absolute;
    margin-top: 5px;
    width: 8px;
    height: 8px;
    border: 1px solid #03a9f4;
    border-radius: 50%;
    background: 0 0;
}

.navigation > li ul li a:before {
    left: 31px;
}

.navigation > li > ul > li > ul > li > a:before {
    left: 53px;
}*/

/*.navigation > li > ul > li > ul > li.active > a:before, .navigation > li ul li.active a:before {
    content: "";
    border: none;
    background: #079e8a;
}

.navigation > li.active > a, .navigation > li.active > a:hover, .navigation > li.active > a:focus {
    background-color: #ebffb6;
    color: #343a40;
}

.navigation > li > ul li.active > a, .navigation > li > ul li.active > a:hover, .navigation > li > ul li.active > a:focus {
    background-color: #ebffb6;
    color: #343a40;
}

.navigation li a > i {
    font-size: 21px;
    opacity: 0.3;
     color: #343a40;
}

.navigation > li > a {
    padding: 12px 30px 12px 20px;
    min-height: inherit;
    font-weight: 500;
    font-size: 13px;
}

.navbar {
     min-height: 35px;
    border: none;
}

.breadcrumb > li + li:nth-child(2):before {
    padding: 0 5px;
    color: #333;
}
*/
/*.header-highlight .navbar-header:not([class*=bg-]) {
   background-color: #03a9f4;
    box-shadow: none;
    border: none;
    border-right: 5px solid #079e8a;
}
.form-control-feedback {
    text-align: center;
    overflow: visible;
    background: rgba(0,0,0,0.06);
    width: 40px;
    height: 40px;
    margin: 0;
    border-radius: 30px;
    color: #25a8de;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    height: 60px;
    font-size: 23px;
}

.navbar-brand > img {
    width: auto;
    height: 100%;
    margin: 0;
}

.navbar-default {
}*/

/*.navbar-default:after {
    
}
.navbar-brand {
    padding: 3px 20px;
    height: 35px;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 9px;
}

.navbar-default .navbar-nav > li > a {
}

.navbar-nav > .dropdown-user > a {
    padding-top: 4px;
    padding-bottom: 4px;
}

.form-group-cms-search {
    margin: 15px 0 0 15px;
    position: relative;
}

.form-group-cms-search input[type="search"] {
    min-width: 300px;
    border: none;
    line-height: 36px;
    border-radius: 50px;
    background: rgba(0,0,0,0.05);
    height: 42px;
    width: 42px;
    overflow: hidden;
    position: relative;
}
.navbar-header {
    min-width: 240px;
}*/
/*.hms-navbar{
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}
.navbar-inverse.hms-navbar .navbar-nav > li > a {
    font-weight: 500;
    color: #044a88;
    margin: 3px;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    padding: 0;
    line-height: 30px;
    text-align: center;
    background-color: #f5f7fd;
    border: 1px solid #dee2e6;
    box-shadow: inset 1px 1px 0 #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: rgb(15 117 188);
}
.hms-navbar-secondary .dropdown-menu > li > a {
    color: #333;
    font-weight: 600;
    text-shadow: 0 1px 0 #fff;
}
.page-header-default .breadcrumb-line:not([class*=bg-]) {
    background-color: rgba(255,255,255,0.45);
}

.page-header-default {
width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
    background: transparent;
    padding: 2px 0 10px;
    border-top: 1px solid #dee2e6;
}

.page-header-default .breadcrumb-line:not([class*=bg-]) {
    background-color: transparent;
    border: none;
}

.breadcrumb > li > a {
    font-size:13px;
    color: #777;
    letter-spacing: inherit;
    font-weight: 600;
}

.breadcrumb > li.home a {
}

.breadcrumb-elements > li > a {
    padding: 5px 9px;
    margin: 1px 5px;
    border-radius: 3px;
    font-weight: 600;
    color: #ffffff;
    background-color: #03a9f4;
    border-color: #357ebd;
    box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
}
.breadcrumb-elements > li > a#filterBtn {
    background-color: #fbfbfb;
    border-color: #000000;
    color: #333;
    border: 1px solid #b1b1b1;
}*/

/*.breadcrumb-elements > li:nth-child(1) a {
    color: #ffffff;
    background-color: #03a9f4;
}
.breadcrumb-elements > li:nth-child(2) a {
   color: #343a40;
    background-color: #d6d6d6;
}
.breadcrumb-elements > li:nth-child(3) a {
    color: #ffffff;
    background-color: #ff0000;
}
.breadcrumb-elements > li:nth-child(4) a {
    color: #ffffff;
    background-color: #00c853;
}
*/
/*.breadcrumb-elements > li.open > a, .breadcrumb-elements > li > a:hover, .breadcrumb-elements > li > a:focus {
   background-color: #079e8a;
    border-color: #079e8a;
    color: #fff;
    box-shadow: 0 0.125rem 0.625rem rgb(133 184 2 / 40%), 0 0.0625rem 0.125rem rgb(134 185 2 / 49%);
}

#top_search input {
    border-radius: 0;
    background: transparent;
    border: 0;
    width: 100%;
    color: #343a40;
    border-bottom: 1px solid #03a9f4;
}

#top_search_button button {
    border-radius: 0;
    width: 40px;
    padding: 5px;
    font-size: 17px;
    color: #03a9f4;
    background: transparent;
    border-right: 1px solid #fff;
}

#top_search_dropdown {
    width: 240px;
    height: 400px;
    overflow-y: scroll;
}*/

@media (min-width: 769px) {
    .sidebar-fixed.affix {
        position: fixed;
        width: 210px;
        top: 20px;
        bottom: 20px;
        -webkit-transition: bottom ease-in-out .15s;
        -o-transition: bottom ease-in-out .15s;
        transition: bottom ease-in-out .15s;
    }

    .sidebar-xs .sidebar-main .navigation > li > a > span {
        background-color: #e5e5e5;
        border: 1px solid #e5e5e5;
        color: #606060;
    }

    .sidebar-xs .sidebar-main .navigation > li > ul {
        background-color: #f5f5f5;
        top: 40px;
    }

    .sidebar-xs .sidebar-main .navigation > li > a > i {
        font-size: 30px;
        color: #079e8a;
        opacity: 1;
    }


    .page-header .breadcrumb-line:first-child {
        z-index: 1;
    }

}

@media (min-width: 769px) {
    .navbar-top .sidebar-fixed.affix {
        top: 45px;
    }
}

.table-responsive {
}

.alpha-indigo {
    background-color: #E8EAF6 !important;
}

.custom-input-group.input-group {
    margin-bottom: 15px;
}

/*.custom-input-group .select2-selection--single:not([class*=bg-]):not([class*=border-]), .custom-input-group .form-control, .custom-form.form-control {
    border: none;
    color: #555555;
    background-color: #e5e5e5;
}*/

/*.custom-input-group .input-group-addon, .custom-addon.input-group-addon {
    background-color: #edf0f3;*
    border: none;
    color: #03a9f494;
    background-color: #e5e5e5;
}
*/
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #03a9f4;
    border: 1px solid #03a9f4;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
}

.custom-input-group .caret {
    position: absolute;
    right: 10px;
    z-index: 2;
    top: 12px;
}

.attendace-check .btn {
    margin-top: 3px;
}

input.is-invalid {
    border: 1px solid #ff000069;
}

.invalid-feedback .form-error-message {
    color: red;
}

.select2 {
    display: block;
    width: 100%;
}

.breadcrumb-elements [data-toggle="collapse"] {
    display: block;
    position: relative;
    right: inherit;
}

.profile-cover .media-body, .profile-cover small {
    text-shadow: none;
}

.form-control[readonly], .form-control, input[type=email], input[type=name], input[type=number], input[type=password], input[type=text], textarea {
    font-weight: 400;
    font-size: 12px;
}

.form-control {
    display: block;
    width: 100%;
    background-clip: padding-box;
}

.form-control {
    outline: none;
    background: #fff;
    border: 1px solid #dee2e6;
    color: #212529;
    padding: 0 .75rem;
    border-radius: 4px;
    height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #606060;
}



.content-heading {
    position: relative;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 5px 0px 0 20px;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 14px;

    background: transparent;
    border-left: 3px solid #03a9f4;
    border-radius: 0;
}




label, p {

}

label {
    font-size: 12px;
    color:#455560;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: 500;
}
.label.text-success {
    background-color: rgba(30, 202, 184, .15) !important;
    color: #1ecab8 !important;
    -webkit-box-shadow: 0 0 13px 0 rgba(30, 202, 184, .05);
    box-shadow: 0 0 13px 0 rgba(30, 202, 184, .05);
}
.label.text-warning,
.label.text-danger {
    background-color: rgba(241, 100, 108, .15) !important;
    color: #f1646c !important;
    -webkit-box-shadow: 0 0 13px 0 rgba(241, 100, 108, .05);
    box-shadow: 0 0 13px 0 rgba(241, 100, 108, .05);
}
.label.text-info {
    background-color:#638dc654 !important;
    color: #2755da !important;
    -webkit-box-shadow: 0 0 13px 0 rgba(241, 100, 108, .05);
    box-shadow: 0 0 13px 0 rgba(241, 100, 108, .05);
}
.text-danger, .text-danger:hover, .text-danger:focus {
    color: #e54a9b !important;
}
.bg-danger {
    background-color: #e54a9b;
    border-color: #e54a9b;
    color: #fff;
}
.bg-info {
    background-color: #03a9f4;
    border-color: #03a9f4;
    color: #fff;
}
.text-info, .text-info:hover, .text-info:focus {
    color: #03a9f4 !important;
}
.action .icons-list > li > a > i, .action .icons-list > li > a > .caret {
    color: #777;
}

.action .icons-list > li a {
    margin: 0 1px;
}
.action .icons-list > li:nth-child(1) a > i {
    color: #03a9f4;
}
.action .icons-list > li a.delete, .action .icons-list > li:nth-child(2) a > i {
    color: #ff3082;
}

.action .icons-list > li:nth-child(3) a > i {
    color: #f47b24;
}

.action .icons-list > li:nth-child(4) a > i {
    color: #e08df5;
}



.dropdown-menu {
    border-radius: 3px;
    background: #fff;
    border: none;
    -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 18%);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 18%);
}

.action .dropdown-menu > li:nth-child(1) a > i {
    color: #03a9f4;
}

.action .dropdown-menu > li:nth-child(2) a > i {
    color: #03a9f4;
}

.action .dropdown-menu > li:nth-child(3) a > i {
    color: #03a9f4;
}

.action .dropdown-menu > li:nth-child(4) a > i {
    color: #03a9f4;
}
.menu-list li > a {
    padding: 6px 12px;
    font-size: 12px;
}
.menu-heading {
    font-size: 12px;
    color: #051922;
}
/*.menu-list li > a:before {
    content: "";
    position: absolute;
    margin-top: 5px;
    width: 7px;
    height: 7px;
    border: 1px solid #f99f3d;
    border-radius: 50%;
    background: 0 0;
    left: 0;
}*/
.menu-list::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

/* Track */
.menu-list::-webkit-scrollbar-track {
    border-radius: 3px;
}

/* Handle */
.menu-list::-webkit-scrollbar-thumb {
    background: #03a9f4;
    border-radius: 3px;
}

/* Handle on hover */
.menu-list::-webkit-scrollbar-thumb:hover {
    background: #f5f5f5;
}


.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

.modal-title {
    text-transform: capitalize;
    /*position: relative;*/
    font-size: 14px;
    color: #1a3353;
    font-weight: 500;
}
/* ----- MODAL STYLE ----- */
.modal.right .modal-content {
    border-radius: 0;
    border: none;
}


.detailed-card {
    background-color: #ffffff;
    border-color: #dee2e6;
    color: #333333;
    -webkit-box-shadow: 0 0 0 0 rgb(90 113 208 / 11%), 0 4px 16px 0 rgb(167 175 183 / 33%);
    box-shadow: 0 0 0 0 rgb(90 113 208 / 11%), 0 4px 16px 0 rgb(167 175 183 / 33%);
    border: solid 1px #dde4eb;
    border-radius: 0px;
}
div#phoneWrap,
div#emailWrap{
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}
.bg-Cornflower-400 {
    padding: 6px 12px;
    border-radius: 4px;
    background-color: #061116;
    border-color: #040a0e;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
}

.bg-Cornflower-400:hover {
    background-color: #0a352f;
    border-color: #021815;
}

@media (min-width: 769px) {
    .sidebar-xs .header-highlight .navbar-header .navbar-brand {
        padding-left: 10px;
        background: url(/assets/images/55.png);
        background-repeat: no-repeat;
        background-position: center center;
        width: 80px;

    }
}
.footer.hrm-footer {
    font-size: 11px;
    color: #101f25;
    font-weight: 400;

}
.footer a {
    font-size: 11px;
    color: #091920;
    font-weight: 400;
}

.daterangepicker td.active, .daterangepicker td.active:hover, .daterangepicker td.active:focus {
    background-color: #03a9f4;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #fff;
    color: #03a9f4;
}

.text-primary, .text-primary:hover, .text-primary:focus {
    color: #0f1a1f !important;
}
.btn-primary {
    display: inline-block;
    padding: 4px 10px;
    color: #ffffff;
    background-color: #0b232e;
    border-color: #03080a;
    box-shadow: none;
}
.btn-primary:hover {
    background-color: #079e8a;
    border-color: #079e8a;
    color: #fff;
}
.border-left-primary {
    border-left-color: #03a9f4;
}
.bg-success {
    background-color: #01070a;
    border-color: #072431;
    color: #fff;
}
.custom-pagination.text-center {
    padding: 20px 0;
    margin: 20px 0;
    background: #f1f5fa;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
       background: #079e8a;
    border: 1px solid #079e8a;
}

.modal-body:before,
.modal-body:after {
    clear: both;
    display: block;
    content: "";
}

/*.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #03a9f4;
    background: #eeeeee;
    background-color: #f5f7fd;
    box-shadow: inset 1px 1px 0px #fff;
}
.staff-detail-wrap .bg-white.panel {
    border:none;
}
.staff-detail-wrap .nav-pills{
    background-color: #eeeeee;
}*/
.nav-pills > li > a {
    color: #676767;
    font-weight: 500;
}
/*.nav-pills > li > a span{
    color: #03a9f4;
}*/
.staff-detail-wrap .nav-pills > li.active > a,
.staff-detail-wrap .nav-pills > li.active > a:hover,
.staff-detail-wrap .nav-pills > li.active > a:focus {
   background: #f5f7fd;
    color: #03a9f4;
}
.staff-detail-wrap .nav-pills > li > a {
  padding: 9px 12px;
    margin: 0;
    /*border: 1px solid #dee2e6;*/
    /*box-shadow: inset 1px 1px 0px #fff;*/
}
.staff-detail-wrap .nav-pills > li:last-child a{
}
.staff-detail-wrap .nav-pills > li {
    font-size:12px;
}
.staff-detail-wrap .nav-pills > li > a i {
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
    display: block;
    color: #03a9f494;
}
.staff-detail-wrap .nav-pills > li.active > a i {
    /*color: #0a68b4;*/
}
.staff-detail-wrap .nav-pills img {
    height: 18px;
    margin-right: 3px;
}
.fn-custom-tab .nav-pills > li > a {
    border-radius: 0;
}
.exchange-rate-table input,
.fee-structure-wrapper input,
.fee-structure-wrapper select {
    height: 27px;
}

.batch-create-table input {
    height: 30px;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.timeline:before, .timeline:after {
    background-color: #828db1;
}

.timeline-container:after {
    z-index: 0;
}

.timeline-icon {
    z-index: 1;
}

.bg-fn-gradient {
    background: linear-gradient(#ffa4d3, #e54a9b);
    color: #fff;
}

.timeline-container:after {
    background-color: #828db1;
}


.fn-setup-layout {
    display: block;
    background: #d8f0ff;
    margin: -20px 2px 0 2px;
}
.fn-setup-layout .custom-item-width {
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
    /*min-height: 70px;*/
    width: auto;
}
.fn-setup-layout .custom-item-width a {
    display: block;
}
.fn-setup-layout .custom-item-width .text-success {
    display: block;
}

.fn-setup-layout .setup-single-item {
    color: #1a3353;
    padding: 4px 6px;
    text-align: center;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    border-radius: 0;
    /* background-color: #ffffff; */
    /* box-shadow: 0 0 0 0 rgb(90 113 208 / 11%), 0 4px 16px 0 rgb(167 175 183 / 33%); */
    border-right: 1px solid #cbcbcb;
}
.fn-setup-layout .custom-item-width .text-success .setup-single-item {
    color: #fff;
    background-color: #03a9f4;
}
.fn-setup-layout .setup-single-item .floated-ico {
    float: left;
    margin-right: 5px;
}
.fn-setup-layout .setup-single-item i {
    margin: 5px 0;
    color: #03a9f4;
    font-size: 14px;
}
.fn-setup-layout .custom-item-width .text-success .setup-single-item i{
    color: #fff;
}
.fn-setup-layout .setup-single-item .item-head {
    font-size: 11px;
    font-weight: 500;
}


.fn-radio-group {
    padding: 5px 15px;
    height: 40px;
    line-height: 1.5384616;
    color: #333333;
    background-color: #edf0f3;
    background-clip: padding-box;
    border: none;
    font-size:14px;
    width: 100%;
}

.fn-radio-group label.radio-inline {
    display: block;
    margin-top: 5px;
}

.sidebar-main .navigation > li > a > span.show-xs-heading {
    display: none;
}


.sidebar-xs .sidebar-main .navigation > li > a > span.show-xs-heading {
    display: block;
    position: relative;
    right: inherit;
    background: transparent;
    border: none;
    width: auto;
    text-align: center;
    border-radius: 0;
    padding: inherit;
    font-size: 10px;
}

.u-list-item{
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
    padding-top: 10px;
}

.u-list-item:last-child{
    border:none;
}
.u-list-item col{
    margin-bottom: 5px;
}
.meta-header {
    margin-right: 9px;
}
.meta-user-data {

}
.equal-height-student-card{
    border:none;
    box-shadow: none;
    border-radius: 0;
}
.fn-user-profile-card{
    display: flex;
    align-items: center;
}
.fn-user-profile-card .bordered-right{
    border-right: 1px solid #e5e5e5;
}
.nepali-date-picker table {
    border: none;
    margin-top: 10px;;
}
.nepali-date-picker table td {
    border: none;
    width: auto;
    height: auto;
    padding: 10px;
}
.current-month-date.active, .drop-down-content li.active {
    background-color: #03a9f4;
    border-radius: 3px;
}
.nepali-date-picker table thead {
    background: transparent;
}
.nepali-date-picker table thead td {
    color: #8b8686;
    font-weight: normal;
}

.nepali-date-picker .current-month-txt {
    width: 31%;
}
@media (min-width: 1025px) {
    .timeline-icon:after {
        background-color: #828db1;
    }
}
.navbar.student-profile-navbar {
    background: #03a9f4;
    min-height: 60px;
    padding: 15px 20px;
}
.navbar-default.student-profile-navbar .navbar-nav > li > a{
    color: #dee2e6;;
}
.navbar-default.student-profile-navbar .navbar-nav > .active > a,
.navbar-default.student-profile-navbar .navbar-nav > .active > a:hover,
.navbar-default.student-profile-navbar .navbar-nav > .active > a:focus {
    color: #161c25;
    background-color: #f8f8f8;
}
.navbar-default.student-profile-navbar .navbar-nav > li > a:hover,
.navbar-default.student-profile-navbar .navbar-nav > li > a:focus{
    color: #22252b;
    background-color: #f8f8f8;
}
.fn-invoice-wrap{

}

.student-only-block ul li,
.fn-invoice-wrap ul li{
    font-size:14px;;
}
.table tbody tr td a label {
    cursor: pointer;
}
.log-body ul li{
    font-size:14px;
}
.record-payment-btn-wrap .recordPayment{
    width: 100%;
}

@media (min-width: 769px) {
    .nav-tabs.nav-tabs-bottom > li.active > a:after {
        background-color: #0288d1;
    }

    .nav-tabs.nav-tabs-bottom.bottom-divided {
        border-bottom-color: #dee2e6;
    }

    .nav-tabs.nav-tabs-highlight > li.active > a, .nav-tabs.nav-tabs-highlight > li.active > a:hover, .nav-tabs.nav-tabs-highlight > li.active > a:focus {
        border-top-color: #03a9f4;
    }

    .breadcrumb-elements {
        margin-top: 5px;
    }

    .sidebar-xs .sidebar-main .navigation > li > ul > li > ul > li > a:before,
    .sidebar-xs .sidebar-main .navigation > li ul li a:before {
        content: none;
    }

    .sidebar-xs .sidebar-main .navigation > li > a {
        padding-left: 6px;
        padding-right: 6px;
        border-bottom: 1px solid #ebffb6;
    }

    .sidebar-xs .sidebar-main {
        width: 80px;
        background-color: #f7f7f7;
    }

}

@media screen and (min-width: 1900px) {
    .content-wrapper {

    }

    .sidebar-xs .header-highlight .navbar-header,
    .sidebar-xs .sidebar-main {
        width: 100px;
    }

    .sidebar-xs .sidebar-main .navigation > li > a > span.show-xs-heading {
        font-size: 13px;
    }

    .table tbody tr td {
        font-size: 12px;
    }
    .table .bg-table-head > tr > th {
        font-weight: 600;
    }
    .sidebar-xs .header-highlight .navbar-header .navbar-brand {
        width: 100px;
        /* background-size: 60px; */
    }
    .staff-detail-wrap .nav-pills > li {
        font-size: 14px;
    }
    .page-header-default {
        /*width: 80%;*/
    }
    .content {
        /*width: 80%;*/
    }





}

@media (max-width: 768px) {
    .header-highlight .navbar-header > .navbar-nav > li > a {
        color: #a4abc5;
    }

    .sidebar {
        padding-top: 0;
    }

    .content-wrapper {
        padding-top: 0;
    }

    .content {
        padding: 0 10px 90px 10px;
    }

    .navbar-brand > img {
        width: 135px;
    }

    .breadcrumb-line .breadcrumb {
        margin: 0;
    }

    .profile-cover .profile-cover-img {
        height: 262px !important;
    }

    .timeline-row {
        position: relative;
        z-index: 2;
    }

    .table-responsive {
        overflow: auto;
    }
}

.text-rotate-90 {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spinner-border .75s linear infinite;
}



/*********** style copied from travelexo scss files***********/

.bg-default{
  background-color: #6659f7;
  color: #fff; }
  .bg-default:hover {
    background-color: #e54a9b; }

.bg-fn-pink {
    background-color: #e54a9b;
    color: #fff;
    box-shadow: 0 0.125rem 0.625rem rgba(255, 22, 149, 0.4), 0 0.0625rem 0.125rem rgba(255, 22, 149, 0.5);
}
  .bg-fn-pink:hover {
    background-color: #6659f7; }

.bg-fn-black{
  background-color: #5f6368;
  color: #fff; }
  .bg-fn-black:hover {
    background-color: #6659f7; }

.text-success, .text-success:hover {
  color: #079e8a !important }

.text-warning, .text-warning:hover {
  color: #ffab2e !important; }

.text-danger, .text-danger:hover {
  color: #ff3ca6 !important; }

.bg-danger {
  background-color: #ff3ca6; }

.text-muted, .text-muted:hover {
  color: #8392a5 !important; }

.bg-light {
  background-color: #F8F9FA; }

.itinary-custom-tab {
  position: relative; }
  .itinary-custom-tab .nav-pills {
    border: 1px solid #dee2e6; }
    .itinary-custom-tab .nav-pills li.active a {
      color: #5f6368;
      background-color: #F8F9FA; }
    .itinary-custom-tab .nav-pills li.active .day-data-icons i {
      color: #fff; }
    .itinary-custom-tab .nav-pills li a {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      font-weight: 600;
      text-transform: uppercase;
      border-bottom: 1px solid #dadce0; }
    .itinary-custom-tab .nav-pills li:last-child a {
      border: none; }

.day-data-icons {
  display: block;
  margin-top: 10px; }
  .day-data-icons i {
    height: 25px;
    width: 25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    line-height: 25px;
    font-size: 14px;
    margin-right: 2px;
    color: #fff;
    background-color: #6659f7; 
}
  .day-data-icons .icon-city {
    background: #ff3ca6; }
  .day-data-icons .icon-bus {
    background: #03a9f4; }
  .day-data-icons .icon-three-bars {
    background: #6659f7; }

.iti-column ul {
  margin: 0;
  padding: 0; }

li.draggable-item {
  width: inherit;
  padding: 5px 10px;
  margin-bottom: 8px;
  background-color: #F8F9FA;
  font-size: 12px;
  border: 1px solid #dee2e6;
  -webkit-transition: transform .25s ease-in-out;
  -moz-transition: transform .25s ease-in-out;
  -o-transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  -webkit-transition: box-shadow .25s ease-in-out;
  -moz-transition: box-shadow .25s ease-in-out;
  -o-transition: box-shadow .25s ease-in-out;
  transition: box-shadow .25s ease-in-out;
  list-style: none; }
  li.draggable-item:hover {
    cursor: pointer;
    background-color: #eaeaea; }

/* styles during drag */
li.draggable-item.ui-sortable-helper {
  background-color: #e5e5e5;
  -webkit-box-shadow: 0 0 8px rgba(53, 41, 41, 0.8);
  -moz-box-shadow: 0 0 8px rgba(53, 41, 41, 0.8);
  box-shadow: 0 0 8px rgba(53, 41, 41, 0.8);
  transform: scale(1.015);
  z-index: 100; }

li.draggable-item.ui-sortable-placeholder {
  background-color: #dee2e6;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000; }

.iti-tab-content {
  border: 1px solid #dadce0;
  padding: 7px 10px; }

.btn-rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

/*--itinary new design style--*/


.custom-cover::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #16aaff78;
  opacity: 0.6;
  top: 0;
  border-radius: 5px; }

.custom-cover .media {
  z-index: 2;
  display: block; }

.custom-cover .profile--img {
  background-size: cover;
  background-position: 50%;
  position: relative;
  padding: 100px 0;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.19); }

.fn-tabbable .nav-tabs.nav-tabs-solid {
  position: relative; }

.fn-tabbable .nav-tabs.nav-tabs-solid > li > a {
  margin: 15px 15px;
  padding: 10px 20px;
  border: 1px solid #dadce0;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  background-color: #fff;
  border-radius: 25px !important; }

.fn-tabbable .nav-tabs.nav-tabs-solid > .active > a,
.fn-tabbable .nav-tabs.nav-tabs-solid > .active > a:hover,
.fn-tabbable .nav-tabs.nav-tabs-solid > .active > a:focus {
  background-color: #f7f9fa;
  border: 1px solid #ff3ca6;
  border-color: #ff3ca6;
  color: #ff3ca6; }

.fn-tabbable .nav-tabs.nav-tabs-solid > li > a i {
  margin-right: 4px; }

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%; }

.fn-common-user,
.fn-common-user .profile-cover-img {
  background-color: #fff;
  padding: 30px 30px 30px;
  min-height: 240px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13); }


.fn-common-user .media-body {
  color: #03a9f4;
  text-shadow: none; }

.media .profile-thumb img {
  width: 110px;
  height: 110px;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }

.fn-tabbable {
  margin-top: -90px; }

.fn-tabbable .nav-tabs.nav-tabs-solid {
  position: relative;
  margin-left: 50px;
  margin-right: 30px;
  background-color: #fff;
  /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16); */ }

.bg-light-blue {
  background-color: #ebf5ff;
  margin: inherit !important; }

.fn-tabbable .nav-tabs.nav-tabs-solid > li > a:after {
  content: "";
  display: block;
  background: #dadce0;
  height: 1px;
  position: absolute;
  width: 80%;
  left: 100%;
  right: 0;
  top: 50%; }

.fn-tabbable .nav-tabs.nav-tabs-solid > li:last-child a:after {
  content: none; }

.fn-common-user-sidebar {
  border: none;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13); }

.fn-common-user-sidebar.sidebar-default .category-title {
  border-bottom-color: #dee2e6;
  background-color: #e0f3ff;
  border: none; }
.fn-common-user-sidebar.sidebar-default .category-title > span {
    font-weight: 600;
    font-size: 13px;
}
.mr-2, .mx-2 {
  margin-right: 0.625rem !important; }

.agent-custom-height::-webkit-scrollbar {
  width: 6px;
  background: #f0f1f2;
  border-radius: 30px; }

.agent-custom-height::-webkit-scrollbar-track {
  border-radius: 30px;
  background: #f0f1f2; }

.agent-custom-height::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #8438d6; }

.agent-row {
  /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);*/
  border:1px solid #dee2e6;
  position: relative;
  margin-bottom: 30px; }

.agent-row > div {
  display: table-cell;
  float: none;
  vertical-align: middle; }

.agent-row-image {
  background-color: #fff;
  padding: 9px; }

.agent-row-image-inner a {
  display: block;
  position: relative;
  background-color: rgba(0, 0, 0, 0.15);
  display: block;
  height: 0;
  padding-bottom: 100%;
  position: relative; }

.agent-row-image img {
  height: auto;
  position: relative;
  width: 100%;
  z-index: 2; }

.agent-row-content {
  background-color: #fff; }

.agent-row-info {
  padding: 16px;
  border-left: 1px solid #dadce0; }

.agent-row-info ul {
  color: #424242;
  list-style: none;
  margin: 0;
  padding: 0; }

.agent-row-info ul li {
  margin: 0; }
.agent-row-info ul a,
.agent-row-info ul li a{
    color: #1a1a1a;
}

.agent-row-info ul .fa {
  color: #616161;
  margin: 0 5px 0 0; }

.Charts-head-wrap a {
  padding: 7px 14px; }

.Charts-head-wrap #expandAllChart {
  color: #fff;
  background-color: #6659f7;
  margin-right: 5px; }

.Charts-head-wrap #collapseAllChart {
  color: #fff;
  background-color: #ff3ca6; }

/*.account-chart-list {*/
/*  list-style: none;*/
/*  padding: 0; }*/
/* .account-chart-list li {*/
/*    margin: 10px 0;*/
/*    border: 1px solid #dee2e6;*/
/*     padding: 5px; */
/*    list-style: none;*/
/*}*/
/*    .account-chart-list li:after {*/
/*      clear: both;*/
/*      display: block;*/
/*      content: ""; }*/
/*    .account-chart-list li .account-chart-title {*/
/*      display: inline-block;*/
/*      width: 70%;*/
/*      text-align: left; */
/*      font-weight: 600;}*/
/*  .account-chart-list .ac-btn-group {*/
/*    display: inline-block;*/
/*    width: 27%;*/
/*    text-align: right; }*/
/*    .account-chart-list .ac-btn-group a {*/
/*      box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.05) inset; }*/
/*    .account-chart-list .ac-btn-group .icon-pencil7 {*/
/*      color: #02cccd; }*/
/*    .account-chart-list .ac-btn-group .icon-plus3 {*/
/*      color: #6659f7; }*/
/*    .account-chart-list .ac-btn-group .icon-trash {*/
/*      color: #ff3ca6; }*/
.text-size-small {
    font-size: 12px;
}
.fn-submit.submit-btn {
    padding: 9px 30px;
    font-weight: 600;
    font-size: 15px;
    text-transform: capitalize;
}
li.cust-edit-details {
    position: absolute;
    right: -19px;
    top: -19px;
    height: 44px;
    width: 44px;
    background: #e7f8ff;
    border-radius: 50%;
    text-align: center;
    line-height: 44px;
}
li.cust-edit-details a {
    color: #16aaff;
}
span.day-date input[type="datetime"] {
    background-color: white;
    height: 45px;
    border-radius: 3px;
    padding: 5px 15px;
    border: 1px solid #dee2e6;
    color: #333333;
}

.text-primary-400, .text-primary-400:hover, .text-primary-400:focus {
    color: #03a9f4 !important;
}
.border-primary {
    border-color: #101d24;
}


/*---asset-detail-common-wrapper for all systes fintech nepal--*/
.asset-detail-common-wrapper label {
    display: block;
    position: absolute;
    top: -27px;
    left: -20px;
    visibility: hidden;
    visibility: visible;
    background: white;
    padding: 0 20px;
}
.asset-detail-common-wrapper .table tbody tr td {
    border-top: 1px solid #dee2e6;
}
.help-text-wrapper {
    /*padding: 10px 10px;*/
}
.help-head .heading-elements{
    text-align: right;
}
.help-head.panel-heading img {
    width: 150px;
    margin-top: 8px;
}
.help-head h4 {
    color: #03a9f4;
    font-weight: 600;
    font-size: 22px;
     /*padding-bottom: 15px;*/
    margin-bottom: 0;
    /*border-bottom: 1px solid #dee2e6;*/
}
.breadcrumb-elements > li > a#helpShow {
    background: transparent;
    color: #03a9f4;
    border: 1px solid #bee4ff;
}
.content-group-xs.payment-detail-common label {
    min-width: 160px;
}
.datepicker table tr td.active, .datepicker table tr td span.active, .datepicker table tr td.active.disabled, .datepicker table tr td span.active.disabled, .datepicker table tr td.active:hover, .datepicker table tr td span.active:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td span.active.disabled:hover {
    background-color: #03a9f4;
    color: #fff;
}
.patient-tab-profile .affix {
    top: 50px;
    width: 15%;
    z-index: 1;
}
.fn-w-50{
    width: 50%;
    margin: 0 auto;
}
@media screen and (min-width: 1900px) {
    .patient-tab-profile .affix {
        width: 13.33%;
        }
        .fn-w-50{
            width: 40%;
        }
}

.fn-doc{
    border:1px solid #dee2e6;
    height: 130px;
    background: #fcfcfc;
    overflow: hidden;
    position: relative;
}
.doc-action{
    background: #f5f5f5;
    text-align: right;
    padding: 5px 7px;
}
.fn-doc img{
    height: 130px;
    object-fit: cover;
    object-position: top;
    width: 100%;
}
.doc-text{
    background: #03a9f4;
    color: #fff;
    padding: 2px 6px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
.doc-text a{
    color: #fff;
}
.doc-action i{
    font-size: 11px;
}
.lt-single-ite:nth-child(1) .panel.panel-flat,
#profile .v-item:nth-child(1) .panel.panel-flat {
    border-top: 2px solid #00BCD4;
}
.lt-single-ite:nth-child(2) .panel.panel-flat,
#profile .v-item:nth-child(2) .panel.panel-flat {
    border-top: 2px solid #E91E63;
}
.lt-single-ite:nth-child(3) .panel.panel-flat,
#profile .v-item:nth-child(3) .panel.panel-flat {
    border-top: 2px solid #4CAF50;
}
.lt-single-ite:nth-child(4) .panel.panel-flat,
#profile .v-item:nth-child(4) .panel.panel-flat {
    border-top: 2px solid #FF9800;
}
.lt-single-ite:nth-child(5) .panel.panel-flat,
#profile .v-item:nth-child(5) .panel.panel-flat {
    border-top: 2px solid #9c27b0;
}
.lt-single-ite:nth-child(6) .panel.panel-flat,
#profile .v-item:nth-child(6) .panel.panel-flat {
    border-top: 2px solid rgb(61, 136, 216);
}
.lt-single-ite:nth-child(7) .panel.panel-flat,
#profile .v-item:nth-child(7) .panel.panel-flat {
    border-top: 2px solid #222;
}

.n-item{
    position: relative;
    padding-left: 20px;
    /*margin-bottom: 5px;*/
    padding-bottom: 2px;
}
.n-item:last-child{
    margin:0;
}
.note-wrapper .n-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 8px;
    height: 8px;
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #03a9f4;
    z-index:3;
}
.n-item ul li{
    font-size: 12px;
}
.note-content{
    margin-top: 5px;
}
.p-lab-docs .media:first-child{
    margin:0;
}
.p-lab-docs .media{
    margin-top: 10px;
}
.fn_pat_tab.nav-pills {
    /* padding: 5px; 
    border: 1px solid #dee2e6;
    background-color: #eeeeee;*/
}
.pat-main-wrapper-block.panel{
    /*padding: 12px; */
    /*border: 1px solid #dee2e6;*/
    background-color: #fff;
    padding: 12px 0px;
}
.pt-table-view{
    width: 100%;
}
.pt-table-view td{border-color:#dee2e6;border-style:solid;border-width:1px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.pt-table-view th{border-color:#dee2e6;border-style:solid;border-width:1px;
  padding:10px 5px;word-break:normal;}
.pt-table-view .text-bold{font-weight:bold;text-align:left;vertical-align:top}

.forn-group.pat-search-wrap {
    position: relative;
    margin-right: 12px;
}
.pat-serach-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
}
.pat-search-wrap input.btn{
    height: 34px;
}
@media (min-width: 769px){
    .nav-tabs.nav-tabs-bottom > li.active > a:after {
        background-color: #03a9f4;
    }
}

/*--re design changes to main layout--*/
.navbar-header {
    min-width: 212px;
}
@media (min-width: 769px){
    .navbar-nav {
        margin-left: -8px;
    }
}
.navigation li a {
    color: #fff;
}
.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
}
.navbar-inverse .navbar-nav > li > a {
    color: #051218;
}

.navigation > li.active > a, .navigation > li.active > a:hover, .navigation > li.active > a:focus {
    background-color: transparent;
    color: #26A69A;
}
.navigation > li > a {
    padding: 12px 20px;
    min-height: 44px;
    font-weight: 500;
}
.navigation li a {
    color: rgba(26,51,83,.85);
    display: block;
    -webkit-transition: background 0.15s linear, color 0.15s linear;
    -o-transition: background 0.15s linear, color 0.15s linear;
    transition: background 0.15s linear, color 0.15s linear;
    border-radius: 5px;
    position: relative;
}
.navigation li a > i {
    color: #0c1214;
}
.navigation li a:hover, .navigation li a:focus {
    background-color: rgb(243 243 243);
    color: #09151b;
}
.navigation > li ul{
    background-color: transparent;
}
.navigation > li > ul li:last-child {
    padding-bottom: 0;
}
.navigation > li > ul li:first-child {
    padding-top: 0;
}
.navigation > li ul li a {
    padding: 6px 14px;
    padding-left: 40px;
    min-height: inherit;
    font-size: 12px;
}
.navigation > li > ul li a:before {
    content: "";
    position: absolute;
    left: 20px;
    top: 11px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    border: 2px solid #03a9f4;
    display: block;
}
.navbar-brand {
    padding: 3px 20px;
    height: 46px;
}
.navbar-brand > img {
    height: 34px;
}
.form-group-cms-search {
    margin: 6px 0 0 15px;
    position: relative;
}
.form-group-cms-search .form-control {
    border-radius: 3px;
}
.form-group-cms-search input[type="search"] {
    min-width: 400px;
    overflow: hidden;
    position: relative;
}
.form-control-feedback {
    text-align: center;
    overflow: visible;
    background: transparent;
    width: 33px;
    height: 35px;
    margin: 0;
    border-radius: 30px;
    color: rgba(26,51,83,.85);
    line-height: 38px;
}

.form-control-feedback i{
    font-size: 12px;
}
.navbar-nav .sidebar-main-toggle {
    color: rgba(26,51,83,.85);
    font-size: 18px;
    margin-top: 2px;
}
.navbar-default .navbar-nav > li > a {
    line-height: 1;
    color: #f5f5f5;
    font-weight: 500;
    font-size: 13px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #f9f9fb;
    background-color: #0e181b;
}
.fn-top-nav-right.navbar-nav > li > a {
    position: relative;
    color: #fff;
    background: transparent;
    border-radius: 4px;
    padding: 7px;
    line-height: 1;
    margin: 8px 2px;
}
.navbar-default .navbar-nav > li > a i {
    color: #fff;
}
/*.navbar-default .navbar-nav > li {
    border-left: 1px dotted #ced4da;
}*/
.fn-top-nav-right.navbar-nav > li.dropdown-user img {
    border-radius: 50%;
}
.fn-top-nav-right.navbar-nav > li.dropdown-user a {
    background-color: transparent;
    margin: 0;
    padding: 9px 3px;
}
.hms-navbar-secondary {
    background-color: #0f1416;
    border-bottom: 1px solid #293941;
    box-shadow: 0 2px 5px rgb(33 34 41 / 5%);
    min-height: 41px;
    border: none;
}
.navbar.navbar-inverse.hms-navbar {
    background: #242b2e;
    border-color: #15191b;
    border-bottom: 1px solid #1c262b;
}




.sidebar {
    background-color: #fff;
    color: #000;
    position: relative;
    /*padding: 0 8px;*/
    border-right: 1px solid #dee2e6;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
}
.card {
    /*-webkit-box-shadow: 0 0 0 0 rgb(90 113 208 / 11%), 0 4px 16px 0 rgb(167 175 183 / 33%);*/
    box-shadow: none;
    border: solid 1px #dde4eb;
    margin-bottom: 1.875rem;
}
.card {
    /*border: none;*/
}
.card .card-body {
    padding: 1.88rem 1.81rem;
}
.card-body {
}
/*.content-wrapper {
    padding-top: 0;
    background-color: #f6fbf8;
}*/

.card.stat-wrapper .card-body {
    display: flex;
}
.stat_inner {
    /*-webkit-box-shadow: 0 0 0 0 rgb(90 113 208 / 11%), 0 4px 16px 0 rgb(167 175 183 / 33%);*/
    /*box-shadow: 0 0 0 0 rgb(90 113 208 / 11%), 0 4px 16px 0 rgb(167 175 183 / 33%);*/
    /*border: solid 1px #dde4eb;*/
    /*border-radius: 10px;*/
    /*margin-bottom: 20px;*/
}
.stat_inner .card-col {
    /*border-right: 1px solid #dee2e6;*/
}
.card-body.stat-wrapper {
    padding: 20px 10px;
}

.inner-card-content {
    position: relative;
    padding-left: 60px;
}

.inner-card-content i {
    position: absolute;
    left: 0;
    top: 5px;
    color: #03a9f4;
    font-size: 30px;
    height: 50px;
    width: 50px;
    background: #f5f7fd;
    line-height: 50px;
    text-align: center;
    border-radius: 7px;
}
.h2.stat-int {
    margin-top: 0;
    font-size: 32px;
    line-height: 1.2;
}
.inner-card-content h6{
    font-size: 13px;
    margin-bottom: 0;
    font-weight: 600;
}
.inner-card-content h6 a {
    color: #666;
}





.content-wrapper {
    padding-top: 0;
    background-color: #fffefe;
}
.page-header-default .breadcrumb-line:not([class*=bg-]) {
    background-color: #090e112e;
}

.breadcrumb-line:not([class*=bg-]) {
    background-color: #fff;
}
.breadcrumb > .active {
    color: #05131a;
}
.page-header-default {
    background-color: transparent;
    margin-bottom: 20px;
     box-shadow:none; 
}
.breadcrumb > li,
.breadcrumb > li > a {
    color: #1a3353;
    font-weight: 500;
    font-size: 12px;
}
.breadcrumb-line:first-child {
    border-bottom: 1px solid #cae8fb;
}





.panel-search {
    padding: 15px 10px 0px;
    background-color: #fff;
    /*-webkit-box-shadow: 0 0 0 0 rgb(90 113 208 / 11%), 0 4px 16px 0 rgb(167 175 183 / 33%);*/
    box-shadow: none;
    border: solid 1px #dde4eb;
    border-radius: 0px;
}
.panel {
    margin-bottom: 20px;
    border-color: #dee2e6;
    color: #333333;
    /*-webkit-box-shadow: none;*/
    box-shadow: none;
    border: solid 1px #dde4eb;
    border-radius: 4px;
    background: #fff;
}
.panel-bordered{
    border:1px solid #dee2e6;
}
.panel-heading {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.panel-white > .panel-heading {
    background-color: #fff;
    border-bottom-color: #f5f5f5;
}
.custom-table {
    font-size:13px;
}

.table tbody tr td {
    font-size:12px;
    border-top: 1px solid #dee2e6;
}
.table {
    color:#1a3353;
}

.custom-table tbody tr:nth-of-type(even),
.table-striped tbody tr:nth-of-type(even) {
    background-color: #fff;
}
.table > thead > tr > th {
    border-bottom: 1px solid #cae8fb ;
    font-weight: 500;
    color: #1a3353;
    background-color: #f0f9ff;
}
.table.table-hover tbody tr:hover {
    box-shadow: 0 0 10px rgb(0 0 0 / 12%);
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 1;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
}
.label-success {
    border-color: #00c292;
}
.label-success {
    background-color: #00c292;
}
.custom-input-group .input-group-addon, .custom-addon.input-group-addon {
    color: #717171;
    /*border:1px solid #dee2e6;*/
}
.custom-input-group .select2-selection--single:not([class*=bg-]):not([class*=border-]), .custom-input-group .form-control, .custom-form.form-control {
    color: #555555;
    background-color: #ffffff;
}
.form-control{
    -webkit-transition: bottom ease-in-out .15s;
    -o-transition: bottom ease-in-out .15s;
    transition: bottom ease-in-out .15s;
}
.form-control:hover {
    border: 1px solid #03a9f4;
    -webkit-transition: bottom ease-in-out .15s;
    -o-transition: bottom ease-in-out .15s;
    transition: bottom ease-in-out .15s;
}
.form-control:focus {
    border: 1px solid #03a9f4;
}
.breadcrumb-elements > li > a {
    border: none;
    padding: 5px 9px;
    margin: 1px 5px;
    border-radius: 4px;
    background-color: #05090f;
    border-color: #05090f;
    color: #fff;
    font-weight: normal;
}
.breadcrumb-elements > li > a {
    border: none;
    padding: 6px 12px;
    margin: 1px 5px;
    border-radius: 4px;
    background-color: #05090f;
    border-color: #05090f;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}
.breadcrumb-elements > li.open > a, .breadcrumb-elements > li > a:hover, .breadcrumb-elements > li > a:focus {
    background-color: #038dcc;
}
.panel-search .btn.border-primary.btn-flat {
    padding: 6px 16px;
    font-size: 14px;
    color: #ffffff !important;
    border: none;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #03a9f4;
    color: #03a9f4 !important;
    background-color: #ffffff;
    border-color: #03a9f4;
    font-size: 12px;
    border-radius: 3px;
}
.panel-search .btn.border-slate.text-slate-400.btn-flat {
    padding: 6px 16px;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #ff3082;
    color: #ff3082 !important;
    background-color: #ffffff;
    border-color: #ff3082;
    font-size: 12px;
    border-radius: 3px;
}
h3.panel-title, .h3.panel-title {
    font-size: 14px;
}
.panel-title {
    /*position: relative;*/
    font-size: 13px;
    color: #1a3353;
    font-size: 14px;
    font-weight: 500;
}

.material-icons-new {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-white {
    webkit-filter: contrast(4) invert(1);
    -moz-filter: contrast(4) invert(1);
    -o-filter: contrast(4) invert(1);
    -ms-filter: contrast(4) invert(1);
    filter: contrast(4) invert(1);
}
.material-icons-two-tone.hrm-green{
  filter: invert(50.3%) sepia(100%) saturate(999%) hue-rotate(129deg);
  font-size: 48px;
}

.material-icons,
.material-icons-outlined,
.material-icons-round,
.material-icons-sharp {
  color: #0099ff;
  font-size: 48px;
}
ul.nav.navbar-nav.content-header__menu {
    margin-left: 30px;
    margin-top: 6px;
}
 ul.content-header__menu li a {
    background-color: #f5f7fd;
    color: #303544;
    font-size: 10px;
    font-weight: 500;
    padding: 7px 18px;
    margin: 0 10px 0 0;
    border-radius: 25px;
}
 .navbar-inverse .navbar-nav.content-header__menu li a {
    color: #303544;
}
 ul.content-header__menu li a  i{
    color: #0a151a;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #06232c;
}


/*--profile tab--*/

.patient-tab-profile .nav-pills > li.active > a, 
.patient-tab-profile .nav-pills > li.active > a:hover, 
.patient-tab-profile .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #03a9f4;
}

.stats-row .list-inline-separate > li:before {
    content: '\2022';
    position: absolute;
    right: 8px;
    color: #03a9f4;
    top: 1px;
}
.stats-row .list-inline-separate > li:last-child:before {
    content: none;
}
.chart-container img{
    display: block;
    width: 100%;
}

.referenceCol {
    border: 1px solid #ddd;
    padding-top: 10px;
}

/**---vital table meta style--*/
.vital-name-header{
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
}
.vital-name-header .unit {
    color: #8392a5;
    font-size: 12px;
    margin-left: -9px;
    font-weight: 400;
}




/**---intake outtake style--*/
.io-item{
    display: flex;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #eee;
    margin-bottom: 7px;
    padding: 8px;
    align-items: center;
}
.io-date{
    width: auto;
    text-align: center;
    border-right: 1px solid #eee;
    margin-right: 8px;
    padding-right:10px;
}
.taken-date{
    font-size: 12px;
    font-weight: 400;
}
.io-entity-wrapper{
    font-weight: 400;
}

.med-item{
    display: inline-block;
    padding: 5px 10px;
}
.med-item+.med-item{
    padding-left: 15px;
    border-left: 1px solid #e9ecef; 
}

.top-short-vital-wrap {
    border: 1px solid #f3faff;
    border-radius: 3px;
    margin: 0 0 10px;
    padding: 4px;
    text-align: center;
    background: #f3faff;
}
.defined-detail .meta-text {
    background-color: #f3faff;
    padding: 4px 20px;
    border-radius: 13px;
    margin-bottom: 20px;
    display: block;
}
.col-lg-3.vital-graph-wrap {
    display: inline-block;
    float: none;
}
.vital-graph-wrap{
    font-size: 13px;
}
.graphList-row .vital-graph-wrap svg{
    width: 100%;
    height: 35px;
}
.graphList-row .vital-graph-wrap:nth-child(1) svg{
    stroke: #fb9678;
}
.graphList-row .vital-graph-wrap:nth-child(2) svg{
    stroke: #01c0c8;
}
.graphList-row .vital-graph-wrap:nth-child(3) svg{
    stroke: #ab8ce4;
}
.graphList-row .vital-graph-wrap:nth-child(4) svg{
    stroke: #00c292;
}
.graphList-row .vital-graph-wrap:nth-child(5) svg{
    stroke: #03a9f3;
}
.graphList-row .vital-graph-wrap:nth-child(6) svg{
    stroke: #fec107;
}
.text-vit-head{
    font-size: 12px;
}

.admin-container{
   margin-left: 30px;
   margin-right: 30px;
}