/*Sidebar*/
.customer-detail-main-wrapper.clearfix {
    border: 1px solid #f1f1f1;
    padding: 10px;
}
.leads-sidebar {
    background-color: #f5f5f5;
}

.leads-sidebar-content {
    box-shadow: none;
    padding-bottom: 0;
}

.leads-sidebar-lead-info {
    margin-bottom: 20px;
}

.leads-sidebar-lead-info .info-title {
    /*padding: 12px 20px 12px 0px;*/
    /*font-weight: 500;*/
    /*font-size: 12px;*/
    /*border-bottom: 1px solid #55b9eb;*/
    /*text-transform: uppercase;*/
    /*padding-bottom: 10px;*/
}
.leads-sidebar-lead-info .info-title a {
    padding: 12px 12px 12px 12px;
    font-weight: 500;
    font-size: 13px;
    border-bottom: 1px solid #ddd;
    display: block;
    color: #212121;
}
.leads-sidebar-lead-info .info-title a:hover {
   background-color:#55b9eb;
    color: #fff;
}

.leads-sidebar-lead-info .info-content {
    padding: 20px 20px 20px 0;
    display: block;
}


/*Tabs nav*/
.nav-tabs.nav-tabs-highlight > li > a:hover {
    border-top-width: 0px;
}
.nav-tabs.nav-tabs-bottom > li.active > a::after {
    background-color: #2196F3;
}


/*tab data tables*/
table.leads-datatable > tbody > tr > td {
    border: none;
}

/* log event display */
table.leads-datatable > tbody > tr > td > .log-event {
    padding-left: 4rem;
    padding-right: 4rem;
}
.lead-info {
    color: #666;
    font-size: 12px;
}
.info-content .dropdown-menu {
    left: inherit;
    right: 0;
}
.media-meta {
    margin-bottom: 10px;
}
.section-heading h4 {
    color: #55b9eb;
}
.customer-detail-main-wrapper .profile-wrapper {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;
}
.customer-detail-main-wrapper .profile-wrapper:last-child{
    border:none;
}

.leads-sidebar-lead-info .info-title a.active {
    background-color: #55b9eb;
    color: #fff;
}