/* Bordered form */
form {
  border: 3px solid #f1f1f1;
  padding: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  border-radius: 3%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #000000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.error{
    color: red;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
}

/* Add padding to containers */
.container {
 margin-top: 10px;
  padding: 16px;
  padding-bottom: 100px;
  width: 500px;
  background-color: white;
  border-radius:  5%;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

body{
    background-color: #000000;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
