
body{
    font-size: 13px;
    background-color: #f4f7f6;
    font-family: 'Lato', sans-serif;
}
.content {
    padding: 0 20px 60px 20px;
}

.sidebar-content .category-content {
    padding: 13px 5px;
}


.breadcrumb>.active {
    color: #00619e;
}
.input-group-addon {
    color: #fff;
    background-color: #00619e;
    border: none;
}

.sidebar-content::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
    background-color: #F5F5F5;
}

.navigation li a > i {
    color: #a2a2a2fc;
    font-size: 20px;
}

a.btn.btn-xs.add-button{
    border-radius: 0;
}
.btn-view {
    background-color: #55b9eb;
    color: #fff;
    border-radius: 0;
}
.add-button {
    border-radius: 0;
    /*border:none;*/
}
.btn-edit {
    background-color: #ef6c00;
    color: white;
}
.add-button.btn-default {
    background-color: #00619e;
    color: #fff;
}
.btn-delete.delete {
    background-color: #c50000;
    color: #fff;
}
.status-success{
    color:#84c4bb;
}
.status-info{
    color:#8bbfff;
}
.status-pending{
    color:#ffaa10;
}
.status-denied{
    color:#c50000;
}


.page-container{
    padding-left: 0;padding-top: 0;padding-right: 0px; /*padding-bottom: 47px;*/
   }

.content-wrapper{padding-top: 20px; background-color: transparent !important;}
.sidebar-content{border-radius: 0; margin-top:0px;}
.custom-table .bg-table-head {
    color: #343a40;
    white-space: nowrap;
    /* border-color: #aaa; */
}
.bg-table-head {
    background: #fff;
    color: #343434;
    white-space: nowrap;
    /* background: linear-gradient(#f2f3fa,#edf0f3); */
    /* background: linear-gradient(#ffffff, #edf0f3); */
}
.sidebar{
    padding-right: 0;
}

.category-content.sidebar-user{
    background: #dcdcdc;
    color: #333;
}

.no-content{
    display: block;
    color: #999;
    font-size: 14px;
    text-align: center;
    padding: 2em;
}

.no-content-message{
    padding: 1em;
}

.no-content a{color: #2196f3;}

.no-content a:hover{text-decoration: underline;}

label.required:after {
    content: "*";
    color: red;
    margin-left: 2px;
}

/** SEARCH PANEL **/
.panel-search {
    display: block;
    border-radius: 0;
    padding: 15px 10px 0px;
    background: #fcfcfc;
    box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
}
/*.panel-search div[class*="col-"]{padding-right:0;}*/

.panel-bulk{display:block; margin-bottom:10px;}
.bulk-check{margin-right: 10px !important; }

/** SEARCH PANEL ENDS **/

/** PERMISSIONS **/
.dn-sub-group-wrap, .dn-main-group-buttons{ margin: 0; padding: 0;}
.dn-module-title a{padding: 10px;display: block;color: #297d78;text-transform: capitalize;border-bottom: 1px solid #fff;background: #e4e5e6;}
.dn-module-title.active a, .dn-module-title a:hover, .dn-module-title a:focus{border-left: 2px solid #005751;text-decoration: none;padding-left: 8px;}
.dn-permission-wrapper input[type="checkbox"]{margin-right: 10px;}
.dn-sub-group-wrap{background: #FFF;}
.dn-group-list{padding: 1rem}
.dn-group-items{margin-bottom:1rem; background: #f5f5f5;}
.dn-group-title{border-bottom: 1px solid #ddd;font-size: 14px;text-transform: uppercase;padding: 10px 10px 0 10px;margin-bottom: 0;}
i.group-check, i.group-uncheck{margin-right:5px; font-size: 18px}
.dn-perm-list{padding: 10px;}
.dn-perm-item{font-size: 12px; text-transform:capitalize;color:#666}
.module-check, .module-uncheck{color: #666 !important; cursor:pointer}
/** PERMISSIONS END **/


/** ACCOUNT CHARTS **/
.account-chart-list, .account-chart-list ul { padding-left: 0; list-style: none; margin: 0; }
.account-chart-list li{padding-left:10px;}
.account-chart-title:before {font-family: fontAwesome;content: "\f152";font-weight: normal; margin-right: 5px;}
.account-chart-list li.open>.account-chart-title:before {content: "\f150"}
.account-chart-list .account-chart-title.noChild:before, .account-chart-list li.open>.account-chart-title.noChild:before  {content: "\f096"}
li.ac-top{background: #fafafa; margin-bottom: 1em; padding-top: 0; padding-left: 0;}
.account-chart-list li{position: relative;}
.account-chart-list li span{padding: 10px; display:block;}
.account-chart-list li .ac-btn-group{position: absolute;  padding: 10px; display:inline-block; right:10px; top:-7px;}
.account-chart-list span:hover{background: #eaeaea;}
li.ac-top>span{background: #ddd;}


.reportWrap li.ac-top{background:none; margin-bottom:10px;}
.reportWrap li.ac-top>div{background:none; border-bottom: 1px solid #ccc;}
.reportWrap li div:before{content:"" !important;}
.reportWrap li.ac-top>div:hover{background:none}
.reportWrap div.hasChild:after{content:"\f107"; font-family: FontAwesome; color:#444; margin-left:10px}
.reportWrap ul.child{padding-left: 20px}
.reportWrap ul.child li>div{border-bottom:1px solid #efefef;}
.reportWrap ul.child li>div:hover{background:#f5f5f5;}
.reportWrap .amtField{display:inline-block;width:200px;text-align:right;}
/**ACCOUNT CHARTS ENDS **/

/** SELECT 2 override **/
.select2-selection{width: 100% !important;}
.bootstrap-tagsinput,
/*.select2-container--default .select2-selection--single {
    border: 1px solid #f5f5f5;
    border-radius: 0;
    background: #fff;
    height: 36px;
    padding: 6px 12px;
}*/

.select2-container--open .select2-dropdown--below, .select2-search--dropdown .select2-search__field{border-radius: 0;}
/*.select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 22px;}*/
.select2-btn {
    width: 100%;
    background: #2196f3;
    border: none;
    padding: 10px 0;
    color: #fff;
    font-weight: 300;
}
.select2-btn:hover{background: #607f79; color: #fff;}
.select2-container--default .select2-results__option--highlighted[aria-selected] {background-color: #eee; color: #333;}
.select2-search--dropdown:after{right:10px !important; left: auto !important;}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #8f8f8f;
}
/** SELECT 2 OVERIDE ENDS **/

.radio-3 .radio{
    width: 33%;
    display: inline-block;
}
.radio-3 .radio label{
    display: block;
}

.info-block{
    display: block;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.info-label{
    font-weight: bold;
    display: inline-block;
    width: 33%;
}

.info-content{
    display: inline-block;
}

.info-label:after{
    content: ":";
    float: right;
    margin-right: 10px;
}

.collection-table thead tr th, .collection-table tbody{
    border: none !important;
}
.collection-table tr td{
    padding:0 !important;
    border-top: none !important;
}
.collection-table tr{
    border-bottom: none;
}

.collection-table tr td:first-child{
    padding-left: 10px !important;
}

.collection-table.pad0 tr td:first-child{
    padding-left: 0 !important;
}

.collection-table tbody tr:last-child td{
    padding-bottom: 10px !important;
}

.table-ssm tr td{
    padding: 5px !important;
    border-top: none !important;
}


.amtCol{
    width: 200px;
}

td.valign-top{vertical-align: top !important;}
.w100{width: 100px;}
.w150{width: 150px;}
.w200{width: 200px;}
.w300{width: 300px;}
.w100.f-percent{width: 80px;}
.tb-form{text-align: right;
}

.tb-form label, .tb-form .form-control{display:inline-block;}
.tb-form label{ min-width: 100px;}

.tb-form .form-group{margin-bottom:0;}

.f-percent-sign{
    height: 36px;
    display: inline-block;
    line-height: 36px;
    width: 20px;
    text-align: center;
}

.ys-dropdown>li>label{
    padding: 5px 10px;
}

.sidebar {
    background-color: #fff;
    color: #1b66d6;
    position: relative;
    border-right: 1px solid #f2f4f9;
    box-shadow: 0 8px 10px 0 rgba(183,192,206,.2);
    padding-top:20px;
}
@media (min-width: 769px) {
    .sidebar {
        width: 260px;
    }
}


.header-highlight .navbar-header:not([class*=bg-]) {
    background-color: #00619e;
    box-shadow: none;
    border-right: 1px solid #00619e;
}
.navbar-default .navbar-brand {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    height: 60px;
    font-size: 23px;
}
.navbar {
    /*min-height: 60px;*/
    border: none;
    /*box-shadow: 3px 0 10px 0 rgba(183,192,206,.2);*/
}
.navbar-default {
    background-color: #ebf3f7;
}

.navbar-nav > li > a {
    padding-top: 21px;
    padding-bottom: 20px;
}
.navbar-default .navbar-nav > li > a {
    color: #1a1a1a;
    font-weight: 500;
}
.navbar-nav > .dropdown-user > a{
    padding-top: 14px;
    padding-bottom: 14px;
}

.activeRow{background: #d3fcfd !important;}


.page-header-default {
    margin: 0px 0 20px 0px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding: 15px 0 5px;
}
.page-header-default .breadcrumb-line:not([class*=bg-]) {
    background-color: transparent;
    border: none;
}

.navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
.navigation li a {
    color: #1f1f1f;
    position: relative;
    font-size: 14px;
    padding: 9px 9px 9px 18px;
    margin: 8px 13px 0;
    font-weight: 500;
    text-decoration: none;
     border-radius: 120px; 
}
.sidebar:not(.sidebar-default) .media .text-muted, .sidebar:not(.sidebar-default) .media .media-annotation,
.navigation .navigation-header, .navigation .navigation-header a {
    color: #333;
}
.navigation li a:hover, .navigation li a:focus {
   background-color: #00619e14;
    color: #00619e;
}
.navigation > li.active > a, .navigation > li.active > a:hover, .navigation > li.active > a:focus {
    background-color: #00619e14;
    color: #00619e;
}
.navigation > li ul {
    margin: 0px 13px 0;
    border-radius: 0px;
    background-color: #fff;
}



.breadcrumb > li.home a {
    font-size: 14px;
}
.breadcrumb > li.home i {
    font-size: 14px;
}
.breadcrumb>li+li:nth-child(2):before {
    /*content: " ";*/
    padding: 0 5px;
    color: #333;
}
.img-circle {
    background: #fff;
    z-index: 1000;
    position: inherit;
    padding: 2px;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.2);
}
#top_search input {
    border-radius: 0;
    background: transparent;
    border: 0; 
    width: 100%;
    color: #000;
    border-bottom: 1px solid #00619e;
}

#top_search_button button {
    border-radius: 0;
    width: 40px;
    padding: 5px;
    font-size: 17px;
    color: #00619e;
    background: transparent;
    /* font-weight: 500; */
    border-right: 1px solid #fff;
}

#top_search_dropdown {
    width: 240px;
    height: 400px;
    overflow-y: scroll;
}

@media (min-width: 769px) {
    .sidebar-fixed.affix {
        position: fixed;
        width: 210px;
        top: 20px;
        bottom: 20px;
        -webkit-transition: bottom ease-in-out .15s;
        -o-transition: bottom ease-in-out .15s;
        transition: bottom ease-in-out .15s;
    }

}

@media (min-width: 769px){
    .navbar-top .sidebar-fixed.affix {
        top: 45px;
    }
}

.table-responsive {
    overflow: visible;
    /*font-size: 12px;*/
}
.alpha-indigo {
    background-color: #E8EAF6 !important;
}
.custom-input-group.input-group{
    margin-bottom: 15px;
}
.custom-input-group .select2-selection--single:not([class*=bg-]):not([class*=border-]),
.custom-input-group .form-control,
.custom-form.form-control {
    border: 1px solid #ddd;
    /* border-bottom: 1px solid #00619e; */
    background-color: #fcfcfc;
    border-radius: 0;
}
.custom-input-group .input-group-addon,
.custom-addon.input-group-addon {
   color: #00619e;
    background-color: #fcfcfc;
    border: 1px solid #ddd;
    /* border-bottom: 1px solid #00619e; */
    border-radius: 0;
}

.custom-input-group .caret{
    position: absolute;
    right: 10px;
    z-index: 2;
    top: 12px;
}
.attendace-check .btn{
    margin-top: 3px;

}
.custom-input-group .bootstrap-tagsinput, 
.custom-input-group .select2-container--default .select2-selection--single{
    border-radius: 0;
}


/*--hospital management system custom styling--*/
a {
    color: #00619e;
}
.navigation > li ul li a {
    padding: 8px 13px;
    padding-left: 24px;
    min-height: inherit;
    font-size: 12px;
    margin: 0;
}
.navigation > li > ul > li > ul > li > a{
    padding-left: 25px;
}
.breadcrumb-elements > li > a {
    color: #00619e;
    background-color: #deebff;
    padding: 5px 10px;
    margin: 5px;
    /* border: 1px solid; */
    border-radius: 3px;
}
.breadcrumb-elements > li:nth-child(1) a {
    color: #66BB6A;
}
.breadcrumb-elements > li:nth-child(2) a {
    color:  #FF7043;
}
.breadcrumb-elements > li:nth-child(3) a {
    color:#EC407A;
}
.breadcrumb-elements > li:nth-child(3) a {
    color: #03A9F4;
}
.breadcrumb-elements > li.open > a, .breadcrumb-elements > li > a:hover, .breadcrumb-elements > li > a:focus {
    /*border: 1px solid;*/
    background-color: #00619e;
    color: #fff;
}
.breadcrumb-line .breadcrumb{
    margin: 0;
}


.form-control[readonly],
.form-control {
    height: 42px;
    background-color: transparent;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    padding: 7px 15px;
}
.select2-container .select2-selection--multiple:hover,
.bootstrap-tagsinput, .select2-container--default .select2-selection--single:hover,
.form-control:hover{
    /*box-shadow: 0 8px 24px rgba(0,0,0,.12);*/
}
.select2-container .select2-selection--multiple:focus,
.bootstrap-tagsinput, .select2-container--default .select2-selection--single:focus,
.form-control:focus{
    border:1px solid #00619e;
}
.select2-container .select2-selection--multiple,
.bootstrap-tagsinput, .select2-container--default .select2-selection--single{
   height:42px;
   background-color: transparent;
    border: 1px solid #d8d8d8;
    border-radius:3px;
    padding: 7px 15px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 30px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 10px;
}
.panel {
    background: #fff;
    min-height: 50px;
    position: relative;
    margin-bottom: 24px;
    border: 1px solid #f2f4f9;
    box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
    -webkit-box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
}
.dropdown-menu{
    border: 1px solid #f2f4f9;
    box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
    -webkit-box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
}
.custom-width-wrapper{
    width: 60%;
    margin: 0 auto;
}
.btn-rounded {
    box-shadow: 0 2px 5px rgba(0,0,0,.16), 0 2px 10px rgba(0,0,0,.12);
}
.dropdown-menu > li > a,
.panel-title {
    color: #00619e;
}
.control-label {
    margin-left: 5px;
    color: #777;
}
.profile-cover .media-body, .profile-cover small{
    color: #333;
    text-shadow: none;
}
.profile-cover{
    margin-bottom: 30px;
}
.profile-cover .overlay {
    position: absolute;
    left: 0;
}
.nav-tabs.staff-nav-tabs{
    background-color: #fff ;
}
.nav-tabs.nav-tabs-solid > .active > a, .nav-tabs.nav-tabs-solid > .active > a:hover, .nav-tabs.nav-tabs-solid > .active > a:focus {
    background-color: #00619e;
    border-color: #00619e;
    color: #fff;
    border-radius: 20px;
}
.nav-tabs.nav-tabs-highlight > li.active > a, .nav-tabs.nav-tabs-highlight > li.active > a:hover, .nav-tabs.nav-tabs-highlight > li.active > a:focus {
    border-top-color: #00619e;
    color:#00619e; 
}
.nav-tabs.nav-tabs-bottom > li > a {
    font-size: 16px;
    padding: 20px 10px;
    color: #333;
}
.datepicker table tr td.active, .datepicker table tr td span.active, .datepicker table tr td.active.disabled, .datepicker table tr td span.active.disabled, .datepicker table tr td.active:hover, .datepicker table tr td span.active:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td span.active.disabled:hover {
    background-color: #00619e;
}
.text-size-small {
    font-size: 12px;
}
@media (min-width: 769px){
    .sidebar-xs .sidebar-main .navigation > li > ul {
        background-color: #f0f0f0;
        margin-top: 0;
    }
    .sidebar-xs .sidebar-main .navigation > li > a > span {
        background-color: #00619e;
        border: 1px solid #00619e;
    }
    .nav-tabs.nav-tabs-bottom > li.active > a:after {
        background-color: #00619e;
    }
}

.daterangepicker td.active, .daterangepicker td.active:hover, .daterangepicker td.active:focus {
    background-color: #00619e;
}
.salary-inline .form-group {
    display: inline-block;
    vertical-align: middle;
    margin: 15px 6px 15px 0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #2196f3;
    border: 1px solid #2196f3;
    border-radius: 2px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
}
.select2-container .select2-selection--multiple {
    min-height: 42px;
    height: auto;
}

.field-input-table{
    background-color: #fff;
}
#labTestTopicForm .field-input-table{
    background-color: #f4f7f6;
}

.field-input-table .form-control {
    height: 35px;
    border: none;
    border-radius: 0;
}

.action .icons-list > li > a > i, .action .icons-list > li > a > .caret {
    color: #F44336;
}
.dropdown-menu {
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 5px 15px 1px rgba(0,0,0,.08);
    border: 1px solid #f2f4f9;
}
@media (min-width: 769px){
    .sidebar-xs .header-highlight .navbar-header .navbar-brand {
        padding-left: 10px;
        background:none;
    }
}
/* for bed menu */

.bed-vertical-menu
{
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(183,192,206,.2);
}
.bed-vertical-menu a {
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  text-decoration: none; /* Remove underline from links */
}
.bed-vertical-menu ul {
  list-style-type: none;
  padding:0;
}

.bed-vertical-menu li a {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

.bed-vertical-menu a:hover {
  background-color: #ccc; 
}

.bed-vertical-menu a.active {
  background-color: #0178d4;
  color: white;
}
 .bedAddLink{
     margin-right: 10px;
 } 
 .bed-vertical-menu li:last-child a {
    border: none;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    margin-bottom: 1.8rem;
    -webkit-box-shadow: 0 1px 15px 1px rgba(62,57,107,.07);
    box-shadow: 0 1px 15px 1px rgba(62,57,107,.07);
    -webkit-border-radius: .6rem;
    border-radius: .6rem;
}
.card-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.8rem;
}
.dash-list-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: #a3a3a36b;
}
.card.stat-wrapper a {
    color: #00619e;
    /* font-weight: 500; */
}
.card.stat-wrapper .card-body h6 {
    font-size: 16px;
    font-weight: 400;
}
.card.stat-wrapper .card-body {
    padding: 10px 20px;
}
.stat-int{
    /*position: relative;*/
    margin: 0;
}
.stat-wrapper img {
    opacity: 0.1;
    position: absolute;
    z-index: 0;
    width: 75px;
    bottom: 15%;
    right: 0;
}
.info-box.card:nth-child(1) .fa{
    color: #4375ba;
}
.info-box.card:nth-child(1) {
    border-left: 2px solid #4375ba;
}
.info-box.card:nth-child(2) .fa{
    color: #9c27b0;
}
.info-box.card:nth-child(2) {
    border-left: 2px solid #9c27b0;
}
.info-box.card:nth-child(3) .fa{
    color: #e52e71;
}
.info-box.card:nth-child(3) {
    border-left: 2px solid #e52e71;
}
.info-box.card:nth-child(4) .fa{
    color: #ff8a00;
}
.info-box.card:nth-child(4) {
    border-left: 2px solid #ff8a00;
}
.info-box.card:nth-child(5) .fa{
    color: #8bc34a;
}
.info-box.card:nth-child(5) {
    border-left: 2px solid #8bc34a;
}
.info-box.card:nth-child(6) .fa{
    color: #9c27b0;
}
.info-box.card:nth-child(6) {
    border-left: 2px solid #9c27b0;
}
.info-box.card:nth-child(7) .fa{
    color: #e52e71;
}
.info-box.card:nth-child(7) {
    border-left: 2px solid #e52e71;
}
.info-box.card:nth-child(8) .fa{
    color: #F44335;
}
.info-box.card:nth-child(8) {
    border-left: 2px solid #F44335;
}
.info-box.card:nth-child(9) .fa{
    color: #4375ba ;
}
.info-box.card:nth-child(9) {
    border-left: 2px solid #4375ba;
}
.info-box.card:nth-child(10) .fa{
    color:  #8bc34a ;
}
.info-box.card:nth-child(10) {
    border-left: 2px solid #8bc34a;
}
.info-box.card:nth-child(11) .fa{
    color:  #8bc34a ;
}
.info-box.card:nth-child(11) {
    border-left: 2px solid #8bc34a;
}

.btn-primary {
    color: #fff;
        background-color: #428bca;
    border-color: #357ebd;
}
.btn-primary:hover {
    color: #fff;
    background-color: #82ba00;
    border-color: #82ba00;
}