<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% set pageTitle = ((block('page_title') is defined) and (block('page_title') is not empty)) ? block('page_title') : '' %}
    {% set pageDesc = ((block('page_desc') is defined) and (block('page_desc') is not empty)) ? block('page_desc') : '' %}

    <title>
        Youth Pages | News For Youth
        {{ pageTitle ? '| ' ~ pageTitle : '' }}
        {{ pageDesc ? '| ' ~ pageDesc : '' }}
    </title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">
    <link href="{{ asset('assets/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://storage.googleapis.com/non-spec-apps/mio-icons/latest/twotone.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

    <link href="{{ asset('assets/css/icons/fontawesome/styles.min.css') }}" rel="stylesheet" type="text/css"> 
    <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    {#<link href="{{ asset('assets/css/uikit.min.css') }}" rel="stylesheet" type="text/css">#}
    <link href="{{ asset('assets/css/core.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/components.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/colors.css') }}" rel="stylesheet" type="text/css">
    <!-- <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css"> -->
    <link href="{{ asset('assets/css/select2.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/nepaliDatePicker.css') }}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    {# <!-- <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css"> --> #}
    <link href="{{ asset('assets/css/hms-style.css') }}" rel="stylesheet" type="text/css">
        {% block stylesheets %}

            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

         <!-- Core JS files -->
    <script type="text/javascript" src="{{ asset('assets/js/plugins/loaders/pace.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/core/libraries/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/core/libraries/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/loaders/blockui.min.js') }}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="{{ asset('assets/js/plugins/ui/drilldown.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/visualization/d3/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/visualization/d3/d3_tooltip.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/styling/switchery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/styling/uniform.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/selects/bootstrap_multiselect.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/ui/moment/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/pickers/daterangepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/pickers/datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/forms/selects/select2.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('assets/js/plugins/pickers/nepali-date-picker/jquery.nepaliDatePicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/core/app.js') }}"></script>
{#    <script type="text/javascript" src="{{ asset('assets/js/core/custom-script.js') }}"></script>#}

    <script src="{{ asset('assets/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('assets/js/uikit.min.js') }}"></script>
    <script src="{{asset('assets/js/bootstrap-tagsinput.js')}}"></script>
    <script src="{{asset('assets/js/sweetalert.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/js/layout_navbar_secondary_fixed.js')}}"></script>
    <!-- /theme JS files -->
     <script src="{{ asset('assets/js/plugins/media/fancybox.min.js') }}"></script>
    <script src="{{ asset('assets/js/pages/gallery.js') }}"></script>
    <script src="{{ asset('assets/js/select2.min.js') }}"></script>
    <script src="{{ asset('assets/js/notify.js') }}"></script>

    <script src="{{ asset('assets/js/plugins/editors/ckeditor/v5/classic/ckeditor.js') }}"></script>
</head>
    <body>
            {% include 'navbar.html.twig' %}
            {% include 'menubar.html.twig' %}

            <!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        {# {% include 'Admin/Templates/Includes/sidebar.html.twig' %} #}


        <!-- Main content -->
        <div class="content-wrapper">

            {% block breadcumb_bar %}
                <div class="page-header page-header-default">
                    <div class="breadcrumb-line">
                        <div class="container-fluid">

{#                            {{ asprega_breadcrumb('Admin/Templates/Includes/breadcrumb.html.twig') }}#}
                            {#{{ apy_breadcrumb_trail_render('Admin/Templates/Includes/breadcrumb.html.twig') }}#}

                            {#<ol class="breadcrumb">#}
                                {#<li>#}
                                    {#<a href="{{ path('fn_main_dashboard') }}">#}
                                        {#<i class="icon-home2 position-left"></i>#}
                                        {#Dashboard#}
                                    {#</a>#}
                                {#</li>#}
                            {#</ol>#}

                            <ul class="breadcrumb-elements">
                                {% block action %}{% endblock %}
                            </ul>

                        </div>
                    </div>
                </div>
            {% endblock %}

            <!-- Content area -->
            <div class="content">

                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <div class="row">
                        <div class="col-md-12 margin-b-10">
                            <div class="alert disabled alert-warning">
                                <i class="fa fa-exclamation-triangle"></i> &nbsp;
                                Currently logged in as {{ app.user.username }}.
                                <a href="{{ path('fn_main_dashboard', {'_switch_user': '_exit'}) }}">Switch Back</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if (app.session.flashbag.peekAll|length > 0) or (errorMessage is defined) %}
                    <div class="row">
                        <div class="col-md-12 margin-b-10">
                            {% if app.session.flashbag.peekAll|length > 0 %}
                                {% for type, messages in app.session.flashbag.all %}
                                    {% for message in messages %}
                                        {% if type == 'success' %}
                                            {% set alertClass = 'alert-success' %}
                                            {% set faClass = 'fa-check-circle' %}
                                        {% elseif type == 'warning' %}
                                            {% set alertClass = 'alert-warning' %}
                                            {% set faClass = 'fa-exclamation-triangle' %}
                                        {% else %}
                                            {% set alertClass = 'alert-danger' %}
                                            {% set faClass = 'fa-exclamation-triangle' %}
                                        {% endif %}

                                        <div class="alert disabled {{ alertClass }}">
                                            <i class="fa {{ faClass }}"></i> &nbsp;
                                            {{ message|trans({}, domain|default('messages')) }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                            {% if errorMessage is defined %}
                                <div class="alert disabled alert-danger">
                                    <i class="fa fa-exclamation-triangle"></i> &nbsp;
                                    {{ errorMessage }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                {% endif %}

                {% block content %}{% endblock %}


                <!-- Footer -->
                <div class="footer hrm-footer">
                    &copy; {{ 'now'|date('Y') }}. <a href="//electronsolution.com.np" target="_blank">Electron Solution Pvt. Ltd.</a>
                </div>
                <!-- /footer -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->


    </body>

    
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
</html>
