<div class="navbar navbar-default affix-top hms-navbar-secondary" id="navbar-second">
    <div class="container-fluid">
        <ul class="nav navbar-nav no-border visible-xs-block">
            <li><a tabindex="-1" class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
        </ul>
        <div class="navbar-collapse collapse " id="navbar-second-toggle">
            <ul class="nav navbar-nav">
                {# Staff #}
                    <li class="dropdown mega-menu mega-menu-wide ">
                        <a tabindex="-1" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user-tie position-left"></i> News <span class="caret"></span></a>
                        <div class="dropdown-menu dropdown-content">
                            <div class="dropdown-content-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="dd-wrapper">
                                            <span class="menu-heading underlined">News</span>
                                            <ul class="menu-list has-children dd-menu">
                                            {{ fn_sidebar_link('', path('app_news_create'), 'News Create', {'icon':'icon-three-bars'}) }}
                                            {{ fn_sidebar_link('', path('app_news_list'), 'News List', {'icon':'icon-three-bars'}) }}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="menu-heading underlined">News List</span>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="dd-wrapper">
                                                    <ul class="menu-list has-children dd-menu">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="col-md-3">
                                            <span class="menu-heading underlined">News Setup</span>
                                            <div class="row">
                                                <div class="dd-wrapper">
                                                    <ul class="menu-list has-children dd-menu">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {# Staff End---- #}


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-plus-square position-left"></i> Inventory <span class="caret"></span>
                        </a>

                                <ul class="dropdown-menu width-250">
                               </ul>
                    </li>

                {# Acc #}
                <li class="dropdown mega-menu mega-menu-wide ">
                    <a tabindex="-1" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-calculator2 position-left"></i> Videos <span class="caret"></span></a>

                    <div class="dropdown-menu dropdown-content">
                        <div class="dropdown-content-body">
                            <div class="row">
                                    <div class="col-md-3">
                                            <span class="menu-heading underlined">Vendor</span>
                                            <ul class="menu-list">
                                            </ul>

                                            <span class="menu-heading underlined">Expense</span>
                                            <ul class="menu-list">
                                            </ul>

                                            <span class="menu-heading underlined">Fixed Asset</span>
                                            <ul class="menu-list">
                                            </ul>
                                    </div>

                                    <div class="col-md-3">
                                    <span class="menu-heading underlined">Account</span>
                                    <ul class="menu-list has-children dd-menu"></ul>
                                    </div>

                                    <div class="col-md-3">
                                    <span class="menu-heading underlined">Payment/Receipt Accounts</span>
                                    <ul class="menu-list has-children dd-menu">
                                    </ul>
                                    </div>
                        
                            </div>
                        </div>
                    </div>
                </li>

            </ul>


        </div>
    </div>
</div>
