<!-- Main navbar -->
<div class="navbar navbar-inverse hms-navbar">
    <div class="navbar-header">
        <a tabindex="-1" class="navbar-brand" href="{{ path('app_news_create') }}" >
            <img src="{{ asset('assets/images/full_logo.png') }}" alt="">
        </a>

        <ul class="nav navbar-nav visible-xs-block">
            <li><a tabindex="-1" data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a tabindex="-1" class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            {# <li><a tabindex="-1" class="sidebar-control sidebar-main-toggle hidden-xs"><span role="img" aria-label="menu-fold" class="fn-ico fncon-menu-fold nav-icon"><svg viewBox="64 64 896 896" focusable="false" class="" data-icon="menu-fold" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M408 442h480c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8H408c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8zm-8 204c0 4.4 3.6 8 8 8h480c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8H408c-4.4 0-8 3.6-8 8v56zm504-486H120c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8zm0 632H120c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8zM115.4 518.9L271.7 642c5.8 4.6 14.4.5 14.4-6.9V388.9c0-7.4-8.5-11.5-14.4-6.9L115.4 505.1a8.74 8.74 0 000 13.8z"></path></svg></span></a></li>
            <li> #}
            <form action="#">
                <div class="form-group-feedback form-group-cms-search">
                    <input tabindex="-1" type="search" class="form-control" placeholder="Search" autocomplete="off">
                    <div class="form-control-feedback">
                        <i class="icon-search4 font-size-base"></i>
                    </div>
                </div>
            </form>
            </li>

        </ul>
        {# <ul class="nav navbar-nav content-header__menu">
                 <li><a href="" data-popup="tooltip" data-placement="bottom" class="" title="" data-original-title="Write preception"><i class=" icon-file-plus position-left"></i> Write a preception </a>
               </li>
                <li><a href="" data-popup="tooltip" data-placement="bottom" class="" title="" data-original-title="Generate Report"><i class=" icon-file-text2 position-left"></i> Generate Report </a>
               </li>
           </ul> #}
        <ul class="nav navbar-nav navbar-right fn-top-nav-right">
            {#            {{ fn_tiny_button('', 'fn_bed_status', 'Bed Status', {'icon':'icon-bed2', 'data-placement':'bottom'}) }}#}
            <li><a tabindex="-1" href="{{ path('app_news_create')}}" data-popup="tooltip" data-placement="bottom" class="" title="" data-original-title="New Bill"><i class="icon-file-spreadsheet "></i>  </a>
            </li>
            <li><a tabindex="-1" href="{{ path('app_news_create')}}" data-popup="tooltip" data-placement="bottom" class="" title="" data-original-title="Create Appointment"><i class=" icon-pencil5 "></i>  </a>
            </li>
            <li>
            </li>




            <li class="dropdown dropdown-user">
                <a tabindex="-1" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{ asset('assets/images/default.png') }}" alt="">
                    {# <span>{{ app.user.username }}</span> #}
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    {% if  is_granted('ROLE_SUPER_ADMIN') != 1 %}
{#                        <li><a href="{{ path('fn_site_employee_update',{'id':app.user.employee.id}) }}"><i class="icon-user-plus"></i> My profile</a></li>#}
                    {% endif %}
{#                    <li><a href="{{ path('fn_site_change_password') }}"><i class="fa fa-key"></i> Change Password</a></li>#}

                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->