
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% set pageTitle = ((block('page_title') is defined) and (block('page_title') is not empty)) ? block('page_title') : '' %}
    {% set pageDesc = ((block('page_desc') is defined) and (block('page_desc') is not empty)) ? block('page_desc') : '' %}

    <title>
        Youth Pages | News For Youth
        {{ pageTitle ? '| ' ~ pageTitle : '' }}
        {{ pageDesc ? '| ' ~ pageDesc : '' }}
    </title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">
    <link href="{{ asset('assets/css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://storage.googleapis.com/non-spec-apps/mio-icons/latest/twotone.css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

    <link href="{{ asset('assets/css/icons/fontawesome/styles.min.css') }}" rel="stylesheet" type="text/css"> 
    <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    {#<link href="{{ asset('assets/css/uikit.min.css') }}" rel="stylesheet" type="text/css">#}
    <link href="{{ asset('assets/css/core.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/components.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/colors.css') }}" rel="stylesheet" type="text/css">
    <!-- <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css"> -->
    <link href="{{ asset('assets/css/select2.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/nepaliDatePicker.css') }}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    {# <!-- <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css"> --> #}
    <link href="{{ asset('assets/css/hms-style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/css/login.css') }}" rel="stylesheet" type="text/css">
        {% block stylesheets %}

            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        </head>
<body>
{% block body %}

{% endblock %}
</body>
</html>